//out: ../css/media.css
@import 'variables.less';

@media (max-width: 1200px) {
  .container {
      max-width: 960px;
  }

  .main {
    .screenshot {
      .screenshot-box {
        .mobile-light-left {
          left: 35.1%;
        }
        .mobile-light-right {
          right: 35%;
        }
      }
    }
  }

  
}
@media (min-width: 1024px) {

  .main {
    .screenshot {
      .screenshot-box {
        .sc-mob {
          width: 244px;
        }

      }
    }
  }


      
}

@media (max-width: 1024px) {
  // АНИМАЦИЯ КРУГОВ
  @keyframes circle {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  .f-bold {
    font-size: 1.5rem;
  }

  .container {
    max-width: 720px;
  }

  .header {
    .home-decor{
      .circle3{
        top: 400px;
      }
      .circle2{
        right: 30px;
      }
      .circle1{
        right: 50px;
        top: 280px;
      }
    }
    .navbar_fixed {
      padding: 30px 4%;
      &.navbar_shadow {
        padding: 10px 4%;
      }
    }
    .navbar {
      .navbar-box {
        .navbar-nav {
          .nav-item {
            margin-left: 15px;
          }
        }
      }
    }
    .home {
      .title {
        height: 100vh;
        .title-text {
          font-size: 1rem;
        }
        h1 {
          font-size: 3.7rem;
          .f-bold{
            font-size: 3.7rem;
          }
        }
      }
    }
  }

  .main {
    overflow: hidden;
    .about {
      .about-circle1 {
        right: 50%;
        top: 140px;
      }
      .about-right {
        height: 400px !important;
      }
    }

    .features {
      background-position: 80%;
      min-height: 0;
      .feature-img {
        display: none;
      }
      .features-info {
        width: 100% !important;
        h2 {
          font-size: 1.5rem;
          span {
            font-size: 1.5rem !important;
          }
        }
        .box {
          .info-box {
            p {
              line-height: 1.25rem;
              font-size: 0.9rem;
              padding-right: 15px;
            }
          }
        }
      }
    }

    .screenshot {
      background-size: cover;
      .screenshot-circle1 {
        left: 24%;
        top: 10px;
      }
      .screenshot-circle2 {
        left: 74%;
        top: 10px;
      }

      
      .screenshot-box {
        .sc-mob {
          width: 245px;
        }
        .mobile-light-left {
          left: 30.1%;
        }
        .mobile-light-right {
          right: 30%;
        }
      }
    }

    .blog {
      .owl-dots{
        top: auto;
        bottom: -40px;
        text-align: center;
      }
      .sl-item {
        .box-img {
          padding: 5px;
        }
        .box-text {
          h5 {
            font-weight: 600;
            font-size: 0.85rem;
            text-transform: capitalize;
          }
        }
      }
    }

    .price {
      .price-item {
        .price-block {
          .price-type {
            padding: 10px;
          }
          .price-package {
            .user-type {
              margin: 20px 0;
            }
            h2 {
              margin-top: 20px;
              font-size: 2rem;
            }
            .price-year {
              margin-bottom: 20px;
            }
          }
          .feature {
            margin: 10px auto;
            li {
              padding: 5px;
            }
          }
          .btn {
            padding: 10px 25px;
          }
        }
      }
    }

    .contact {
      .row {
        .cont-form {
          width: 100%;
        }
        .cont-img {
          display: none;
        }
      }
    }

    .sub {
      .row {

        p {
          font-size: 0.85rem;
        }
      }
    }

    
  }
}

@media (max-width: 768px) {
  
  .container {
    max-width: 560px;
  }

  .header {
    .home-decor{
      .circle1,
      .circle2,
      .circle3 {
        animation: none;
      }
      .circle2 {
        right: -33px;
        top: 65px;
      }
    }
    .navbar_shadow {
      box-shadow: 1px 1px 12px 1px #e3e3e3;
      padding: 10px 4%;
    }
    .navbar {
      transition: .3s ease;
      padding: 15px 4%;
      .navbar-toggle{
        display: block;
        width: 55px;
        height: 40px;
        background: #fff;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
          span{
            display: block;
            width: 60%;
            height: 2px;
            margin: 6px 11px;
            background-color:rgba(15, 15, 15, 0.664);
        }
      }
      .navbar-box {
        display: none;
      }
    }
    .home {
      .title {
        width: 100%;
        align-items: center;
        p {
          text-align: center;
          font-weight: 300;
          font-size: .85rem;
        }
      }
      .title {
        .title-text {
          font-size: 0.9rem;
        }
        h1 {
          font-size: 3.4rem;
          .f-bold{
            font-size: 3.4rem;
          }
        }
      }
      .home-phone {
        display: none;
      }
    }
  }

  .main {
    .about {
      .about-circle1 {
        right: 10px;
        top: 45px;
        animation: none;
      }
      .about-circle2 {
        animation: none;
      }
      .about-contain {
        width: 100% !important;
      }
      .about-right {
        display: none;
      }
    }

    .features {
      .features-circle {
        animation: none;
      }
      .features-info {
        .box {
          .info-box {
            width: 100% !important;
            margin-bottom: 35px !important;
          }
        }
      }
    }

    .screenshot {
      .screenshot-circle1,
      .screenshot-circle2,
      .screenshot-circle3 {
        animation: none;
      }
      .screenshot-box {
        .sc-mob {
          width: 295px;
          top: -72px;
        }
        .mobile-light-left {
          display: none;
        }
        .mobile-light-right {
          display: none;
        }
      }
    }

    .price {
      .price-item {
        .price-block {
          padding: 30px;
          .btn {
            width: auto;
          }
        }
      }
    }

    .contact {
      .contact-circle1,
      .contact-circle2 {
        animation: none;
      }
      .row {
        .cont-form {
          h2 {
            line-height: 1.5rem;
          }
          form {
            margin-top: 15px;
            input,
            textarea {
              width: 100%;
              box-shadow: 0px 0px 5px #18e7d3;
            }
          }
        }
      }
    }

    .map {
      .row {
        .addres-bar {
          width: 100%;
        }
        .map-bar {
          width: 100%;
        }
      }
    }

  }
  
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .header {
    .home-decor{
      .circle3{
        top: 270px;
      }
      .circle2{
        top: 300px;
      }
      .circle1{
        left: 35%;
        top: 65px;
      }
    }
  }

  .main {
    .about,
    .features,
    .screenshot,
    .blog,
    .price,
    .contact,
    .sub {
      padding: 50px 0;
    }

    .about {
      .about-contain {
        .title,
        .caption-about,
        .button {
          text-align: center;
        }
      }
    }

    .screenshot {
      .screenshot-box {
        .sc-mob {
          display: none;
        }
        .screenshot-item {
          border: 2px solid #ddd;
          border-radius: 10px;
          overflow: hidden;
        }
      }
    }

    .sub {
      .row {
        h2 {
          line-height: 1.8rem;
          text-align: center;
        }
        .footer-form {
          width: 100%;
        }
      }
    }

    .map {
      .row {
        .addres-bar {
          padding: 20px 0;
          .style-footer {
            li {
              margin-bottom: 10px;
              .footer-icon {
                margin-right: 10px;
                i {
                  font-size: 1.5rem;
                }
              }
              .footer-addres {
                a {
                  font-size: 0.8rem;
                }
              }
            }

          }
        }
      }
    }
  }
}

@media (max-width: 357px) {
  .container {
    width: 100%;
  }
  .main {
    .about {
      padding: 50px 0;
      .about-contain {
        .title {
          font-size: 1.5rem;
          letter-spacing: 2px;
          span {
            font-size: 1.5rem !important;
          }
        }
        .caption-about {
          line-height: 1.5rem;
          font-size: 0.85rem;
        }
      }
    }
    

  }
}