// out: ../css/media.css, sourceMap: trye

// ПЕРЕМЕННЫЕ

@main-color: #18e7d3;
@main-color-text: #444444;
@lite-color-text: #777777;
@hover-color: #59f7df;
@border-icon-color: #e6e6e6;

@gradient-color: linear-gradient(to bottom, #42ffd0 0%, #42ffd0 8%, #37d2ed 75%, #37d2ed 100%);

@h2Size: 2rem;

@media (max-width: 1366px) {
  .header{
    .home{
      .title{
        margin-top: 70px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .container{
    max-width: 960px;
  }

  @keyframes circle {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(25px);
	}
	100% {
		transform: translateX(0);
	}
}


  .header{
    overflow: hidden;
    .home-decor{
      .circle3{
        position: absolute;
        top: 70px;
        left: 75px;
        animation: circle 3s linear infinite;
      }
      .circle2{
        position: absolute;
        top: 120px;
        right: 10px;
        animation: circle 2.7s linear infinite;
      }
      .circle1{
        position: absolute;
        top: 230px;
        right: 40px;
        animation: circle 3.2s linear infinite;
      }
    }
      .home{
        .title{
          margin-top: 0;
          .title-text{
            font-size: 1rem;
          }
          h1{
            font-size: 3.5rem;
            .f-bold,
            .f-color{
              font-size: 3.5rem;
            }
          }
        }
        .home-phone{
          position: relative;
          right: 0;
          top: -30px;
          img{
            width: 65%;

          }
        }
      }

}

  .main{
    overflow-x: hidden;
    .about{
      padding: 80px 0;
      background-position: 60% 0;
      .about-contain{
        .title{
          font-size: 1.3rem;
          span{
            font-size: 1.3rem;
          }
        }
      }
      .about-circle1{
        right: 10px;
      }
      .about-circle{
        right: 10px;
      }
      .row{
        .about-right{
          height: 500px;
        }
      }
    }
    .screenshot{
      background-size: 150%;
      .screenshot-circle1{
        left: 60%;
        animation-duration: 3.5s;
      }
      .screenshot-circle2{
        left: 70%;
        top: 150px;
      }
      .screenshot-circle3{
        left: 20%;
        bottom: 60px;
      }
      .screenshot-box{
        .sc-mob{
          width: 247px;
        }
        .screenshot-carousel{
          height: 375px;
          .owl-stage-outer{
            .owl-stage{
              position: absolute;
              left: -120px;
              .owl-item{

                width: 210px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .blog{
      .blog-carousel{
        .sls-stage-outer{
          .sl-stage{
            .sl-item{
              width: 450px;
              .box-img{
                padding: 5px;
              }
              .box-text{
                h5{
                  font-size: 0.83rem;
                }
              }
            }
          }
        }
      }
    }
    .price{
      .price-carousel{
        .owl-stage-outer{
          .owl-stage{
            .owl-item{
              width: 290px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main{
    overflow-x: hidden;
    .about{
      .about-circle1{
        right: 10px;
        top: 10px;
      }
      .about-circle2{
        right: -150px;
      }
    }
    .screenshot{
      padding: 50px 0;
      
      .screenshot-circle1{
        animation: none;
      }
      .screenshot-circle2{
        animation: none;
      }
      .screenshot-circle3{
        animation: none;
      }
      .screenshot-box{
        .sc-mob{
          width: 245px;
        }
        .screenshot-carousel{
          height: 375px;
          .owl-stage-outer{
            .owl-stage{
              position: absolute;
              left: -120px;
              .owl-item{

                width: 210px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .price{
      .price-carousel{
        .owl-stage-outer{
          .owl-stage{
            .owl-item{
              width: 290px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .container{
    max-width: 720px;
  }
  .header{
    .home-decor{
      .circle3{
        top: 340px;
        left: 75px;
        animation: none;
      }
      .circle2{
        top: 320px;
        right: 0;
        animation: none;
      }
      .circle1{
        top: 130px;
        right: 20px;
        animation: none;
      }
    }

    .navbar{
      flex-wrap: wrap;
      height: 50px;
      .logo{
        width: 50%;
      }
      .navbar-toggle{
        position: relative;
        z-index: 999;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        .navbar-toggle-icon{
          width: 2.1rem;
          height: 1.9rem;
          background-image: url(../images/menu-burger.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;

        }
        &:hover ~ .navbar-box{
          transform: scale(1);
        }
      }
      .navbar-box{
        width: 100%;
        position: relative;
        z-index: 999;
        background: #fff;
        transform-origin: right top;
        transform: scale(0);
        transition: .5s;
        .navbar-nav{
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          .nav-item{
            padding: 9px 0;
            }
        }
      }
    }

    .home{
      .title{
        padding: 0 15px;
        h1{
          font-size: 2.8rem;
          .f-bold,
          .f-color{
            font-size: 2.8rem;
          }
        }
        p{
          font-size: 0.86rem;
        }
        .market{
          a{
            margin-right: 20px;
          }
        }
      }
      .home-phone{
        img{
          width: 100%;
        }
      }
    }
  }
  .main{
    .about{
      .about-circle1,
      .about-circle2{
        animation: none;
      }
      .row{
        .about-contain{
          .title{
            font-size: 1.3rem;
            margin-bottom: 25px;
            span{
              font-size: 1.3rem;
            }
          }
          .caption-about{
            font-size: 0.86rem;
            line-height: 1.3rem;
          }
        }
        .about-right{
          height: 350px;
        }
      }
    }
    .features{
      .features-circle{
        animation: none;
      }
      .row{
        .feature-img{
          display: none;
        }
        .features-info{
          width: 100%;
        }
      }
    }
    .screenshot{
      background-size: 250%;
      .screenshot-circle3{
        left: 0;
        bottom: 20px;
      }
    }
    .blog{
      .blog-carousel{
        .sl-dots{
          top: auto;
          bottom: -50px;
          right: 45%;
        }
        .sls-stage-outer{
          .sl-stage{
            .sl-item{
              width: 330px;
            }
          }
        }
      }
    }
    .price{
      background-position: top;
      background-size: contain;
      .price-carousel{
        .owl-stage-outer{
          .owl-stage{
            .owl-item{
              width: 330px;
              .price-item{
                .price-block{
                  .feature{
                    li{
                      padding: 5px;
                    }
                  }
                  .btn{
                    width: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .contact{
      padding: 50px 0;
      .contact-circle1{
        animation: none;
        bottom: -100px;
      }
      .contact-circle2{
        bottom: 100px;
        animation: none;
      }
      .row{
        .cont-form{
          width: 100%;
        }
        .cont-img{
          display: none;
        }
      }
    }
    .sub{
      h2{
        font-size: @h2Size - 0.5rem;
        letter-spacing: 0.2rem;
        span{
          font-size: @h2Size - 0.5rem;
          letter-spacing: 0.2rem;
        }
      }
      p{
        font-size: 0.93rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .container{
    width: 100%;
    max-width: 540px;
  }
  .header{
    .home{
      .title{
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .home-phone{
        display: none;
      }
    }
  }
  .main{
    .about{
      .about-circle2{
        z-index: 1;
      }
      .row{
        .about-contain{
          z-index: 100;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        .about-right{
          display: none;
        }
      }
    }
    .features{
      background-position: 45% 0;
      padding-top: 50px;
      min-height: 700px;
      .row{
        .features-info{
          h2{
            font-size: @h2Size - 0.5rem;
            span{
              font-size: @h2Size - 0.5rem;
            }
          }
          p{
            font-size: 0.86rem;
          }
          .box{
            flex-direction: column;
            .info-box{
              margin-top: -20px;
              width: 100%;
            }
          }
        }
      }
    }
    .screenshot{
      padding: 20px 0;
      .screenshot-box{
        .sc-mob{
          width: 245px;
        }
        .screenshot-carousel{
          height: 375px;
          .owl-stage-outer{
            .owl-stage{
              position: absolute;
              left: -328px;
              .owl-item{
                width: 210px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .blog{
      .blog-carousel{
        .sl-dots{
          right: 40%;
        }
        .sls-stage-outer{
          .sl-stage{
            .sl-item{
              width: 510px;
              .box-img{
              }
            }
          }
        }
      }
    } 
    .price{
      background-position: top;
      background-size: contain;
      .price-carousel{
        .owl-stage-outer{
          .owl-stage{
            .owl-item{
              width: 510px;
              .price-item{
                .price-block{
                  .feature{
                    li{
                      padding: 5px;
                    }
                  }
                  .btn{
                    width: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .contact{
      .row{
        .cont-form{
          input{
            width: 100% !important;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .main{
    .about{
      .about-contain{
        .about-opp{
          flex-direction: column;
          align-items: center;
          .about-hover{
            justify-content: center;
            width: 100% !important;
          }
        }
        .button{
          text-align: center;
        }
      }
    }
    .screenshot{
      .screenshot-box{
        height: 500px;
        .sc-mob{
          display: none;
        }
        .screenshot-carousel{
          .owl-stage-outer{
            .owl-stage{
              .owl-item{
                border: 1px solid rgb(202, 198, 198);
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    
  }
}