// out: ../css/style.css, sourceMap: trye

// ШРИФТЫ
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

// ПЕРЕМЕННЫЕ

@main-color: #18e7d3;
@main-color-text: #444444;
@lite-color-text: #777777;
@hover-color: #59f7df;
@border-icon-color: #e6e6e6;

@gradient-color: linear-gradient(to bottom, #42ffd0 0%, #42ffd0 8%, #37d2ed 75%, #37d2ed 100%);
@btn-gradient: linear-gradient(to right, #19d3dc, #18e7d3, #18e7d3, #19d2dd);


@h2Size: 2rem;

// АНИМАЦИЯ КРУГОВ
@keyframes circle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes circle-right{
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(25px);
	}
	100% {
		transform: translateX(0);
	}
}

// АНИМАЦИЯ СКРИНШОТОВ
@keyframes screenshot {
	0% {
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-100%);
	}
}
@keyframes sc-left {
	0% {
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(150px);
		opacity: 0.5;
	}
}
@keyframes sc-right {
	0% {
		transform: translateY(150px);
	}
	100% {
		transform: translateY(-150px);
		opacity: 0.5;
	}
}



*{
	margin: 0;
	padding: 0;
	font-size: 15px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	color: @main-color-text;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	max-width: 1140px;
	margin: auto;
}
.row{
	padding-left: 15px;
	padding-right: 15px;
	// display: flex;
	// flex-wrap: wrap;
}
// Sttle Button (Hover, Custom)
.btn{
	cursor: pointer;
	color: @main-color;
	padding: 15px 25px;
	font-weight: 700;
	letter-spacing: 2px;
	display: inline-block;
}
.btn-custom{
	background: @btn-gradient;
	color: white;
	text-transform: uppercase;
	border-radius: 50px;
	background-size: 300% 100%;
	transition: .4s ease-in-out;
	&:hover{
		background-position: 100% 0;
		transition: all .4s ease-in-out;
	}
}

// End Style Button

h2{
	letter-spacing: 0.33rem;
	font-size: @h2Size;
	font-weight: 300;
}
.f-bold{
	font-weight: 700;
	font-size: @h2Size;
}





// Start Header Style

.fixed-nav{
	padding-top: 15px;
	padding-bottom: 15px;
}
// Header Style
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/section-bg/head-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	// background: #dbd6d6;

	// Home Decor 
	.home-decor{
		position: absolute;
		width: 100%;
		height: auto;
		.circle3{
		position: absolute;
			top: 185px;
			left: 75px;
			animation: circle 3s linear infinite;
		}
		.circle2{
			position: absolute;
			top: 120px;
			right: 80px;
			animation: circle 2.7s linear infinite;
		}
		.circle1{
			position: absolute;
			top: 230px;
			right: 100px;
			animation: circle 3.2s linear infinite;
		}
	}
	// End Home Decor


	// Style navbar
	.navbar{
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo{
			display: block;
			width: auto;
		}
		.navbar-toggle{
			display: none;
		}
		.navbar-box{
			width: 80%;
			.navbar-nav{
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.nav-item{
					margin-left: 20px;
					.nav-link{
						text-transform: uppercase;
						color: @lite-color-text;
					}
					.active{
						color: @main-color;
					}
				}
			}
		}
	}
	// End Style Navbar

	// Style Home Page
	.home{
		position: relative;
		z-index: 100;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		.title{
			width: 45%;
			height: calc(100vh - 24px);
			display: flex;
			justify-content: center;
			flex-direction: column;
			.title-img{
				width: 47px;
			}
			.title-text{
				font-weight: 700;
				color: @main-color-text;
				font-size: 1.2rem;
				text-transform: uppercase;
			}
			h1{
				text-transform: uppercase;
				font-weight: 300;
				font-size: 4.2rem;
				color: @main-color;
				.f-bold{
					font-size: 4.2rem;
				}
				.f-color{
					color: @main-color-text;
					font-size: 4.2rem;
				}
				p{
					color: @lite-color-text;
				}
			}
			.market{
				margin-top: 20px;
			}
		}
		.home-phone{
			width: 55%;
			text-align: center;
			img{
				width: 75%;
			}
		}
	}
}
// End Header Style

// Main 
.main{
	width: 100%;
	height: auto;
	// About Style
	.about{
		padding: 100px 0;
		position: relative;
		width: 100%;
		height: auto;
		background-image: url(../images/section-bg/about-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		.about-circle1{
			position: absolute;
			z-index: 10;
			right: 130px;
			bottom: 160px;
			animation: circle 3s infinite linear;
		}
		.about-circle2{
			position: absolute;
			right: 0;
			bottom: 0;
			animation: circle 3.5s infinite linear;
		}
		.row{
			display: flex;
			justify-content: center;
			.about-contain{
				width: 45%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				.title{
					span{
						font-size: @h2Size;
						font-weight: 700;
					}
				}
				.caption-about{
					color: @lite-color-text;
					letter-spacing: 0.07rem;
					line-height: 1.8rem;
				}
				.about-opp{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					.about-hover{
						display: flex;
						align-items: center;
						width: 50%;
						height: 50px;
						margin-top: 20px;
						&:hover .about-icon{
							background-color: @main-color;
						}
						&:hover .about-icon i{
							color: white;
						}
						.about-icon{
							width: 45px;
							height: 45px;
							border: 1px solid @border-icon-color;
							border-radius: 50%;
							text-align: center;
							transition: .3s ease;
							i{
								line-height: 2;
								color: @lite-color-text;
								font-size: 1.4rem;
							}
						}
						.about-text{
							padding-left: 15px;
							h3{
								letter-spacing: 1px;
								font-weight: 600;
								color: @main-color-text;
								text-transform: capitalize;
								font-size: 1.03rem;
							}
						}
					}
				}
				.button{
						width: 100%;
						margin-top: 30px;
						.btn{
							cursor: pointer;
							font-weight: 400;
							text-align: center;
							line-height: 1.5;
							
						}
						.btn-custom{
							font-size: 0.93rem;
							padding: 10px 25px;
							border: none;
							color: white;
							border-radius: 50px;
							background-image: linear-gradient(to right, #19d3dc, #18e7d3, #18e7d3, #19d2dd);
							background-size: 300% 100%;
								transition: .4s ease-in-out;
							&:hover{
								background-position: 100% 0;
								transition: .4s ease-in-out;
							}
						}
					}
			}
			.about-right{
				position: relative;
				z-index: 11;
				width: 55%;
				height: 600px;
				.about-phone{
					background: @gradient-color;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	// End About Style

	// Features Style
	.features{
		background: url(../images/section-bg/feature-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0;
		min-height: 850px;
		position: relative;
		padding-top: 100px;
		.features-circle{
			position: absolute;
			z-index: 1;
			right: 100px;
			bottom: 150px;
			animation: circle 3s infinite linear;
		}
		.row{
			display: flex;
			justify-content: center;
			.feature-img{
				width: 40%;
				img{
					width: 90%;
				}
			}
			.features-info{
				position: relative;
				z-index: 10;
				width: 60%;
				padding-top: 50px;
				h2{
					span{
						font-size: @h2Size;
					}
				}
				.box{
					margin-top: 30px;
					display: flex;
					flex-wrap: wrap;
					.info-box{
						width: 50%;
						margin-bottom: 50px;
						.feature-name{
							width: 100%;
							display: flex;
							line-height: 2;
							i{
								color: @main-color;
								font-size: 1.4rem;
							}
							h4{
								padding-left: 15px;
								line-height: 1.5rem;
								font-weight: 600;
								font-size: 1.06rem;
							}
						}
							p{
								margin-top: 15px;
								color: @lite-color-text;
							}
					}
				}
			}
		}
	}
	// End Features Style
	// Start Screenshot
	.screenshot{
		background: url(../images/section-bg/screenshot-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		padding: 100px 0;
		background-position: center;
		width: 100%;
		.screenshot-circle1{
			position: absolute;
			left: 50%;
			animation: circle 3s infinite linear;
		}
		.screenshot-circle2{
			position: absolute;
			left: 45%;
			animation: circle 2.6s infinite linear;
		}
		.screenshot-circle3{
			position: absolute;
			left: 0;
			bottom: 0;
			animation: circle-right 3.9s infinite linear;
		}
		.screenshot-box{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 630px;
			// .light{
			// 	position: absolute;
			// 	z-index: 101;
			// 	left: 35%;
			// 	animation: sc-left 2s infinite ease-in-out;
			// }
			// .light-right{
			// 	position: absolute;
			// 	z-index: 101;
			// 	right: 36%;
			// 	animation: sc-right 2s infinite ease-in-out;
			// 	animation-delay: 1s;
			// }
			.sc-mob{
				position: absolute;
				z-index: 100;
				width: 234px;
			}
		}
		.screenshot-carousel{
			z-index: 99;
			width: 100%;
			height: 355px;
			.owl-stage-outer{
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 100%;
				.owl-stage{
					display: flex;
					height: 100%;
					width: 5472px;
					animation: none;
					.active{
						filter: grayscale(100%);
					}
					.center{
						filter: grayscale(0%);
					}
					.owl-item{
						width: 198px;
						height: 100%;
						margin-right: 30px;
						.screenshot-item{
							height: 100%;
							width: 100%;
							img{
								width: 198px;
							}
						}
					}
				}
			}	
		}
	}
	// End Screenshot
	// Start Blog
	.blog{
		position: relative;
		width: 100%;
		height: auto;
		padding: 100px 0;
		.box-blog{
			width: 100%;
			height: 100%;
		}
		.blog-carousel{
			position: relative;
			width: 100%;
			height: auto;
			margin-top: 15px;
			.sl-dots{
				position: absolute;
				right: 0;
				top: -50px;
				.sl-dot{
					background: 0 0;
					color: inherit;
					cursor: pointer;
					border: none;
					outline: none;
					.active{
						width: 25px;
					}
					span{
						margin: 5px 7px;
						width: 10px;
						height: 10px;
						display: block;
						border-radius: 30px;
						background: @main-color;
						background: linear-gradient(to bottom, #18e7d3 0, #19d0de 100%);
						transition: .3s ease;
					}
				}
			}
			.sls-stage-outer{
				position: relative;
				overflow: hidden;
				.sl-stage{
					display: flex;
					width: 6270px;
					.sl-item{
						width: 540px;
						margin-right: 30px;
						.box-img{
							background: url(../images/section-bg/team-img-bg.png);
							width: 100%;
							height: auto;
							padding: 15px;
							&:hover img{
								transform: rotate(3deg) scale(1.15);
   						 transition: all 0.3s ease;
							}
							.sl-img{
								width: 100%;
								padding: 5px;
								background: #fff;
								overflow: hidden;
								a{
									text-decoration: none;
									color: #007bff;
									img{
										display: block;
										width: 100%;
										transition: .3s ease;
									}
								}
							}
						}
						.box-text{
							margin-top: 20px;
							h6{
								font-weight: 300;
								margin-bottom: 15px;
								text-transform: uppercase;
							}
							a{
								color: @main-color-text;
								h3{
									font-size: 1.13rem;
									letter-spacing: 1px;
									font-weight: 600;
								}
							}
							h5{
								margin-top: -10px;
								color: @lite-color-text;
							}
						}
					}
				}
			}
		}
	}
	// End Blog
	// Start Price
	.price{
		position: relative;
		width: 100%;
		background-image: url(../images/section-bg/price.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 100px 0;
		text-align: center;
		.price-carousel{
			width: 100%;
			z-index: 99;
			.owl-stage-outer{
				position: relative;
				overflow: hidden;
				.owl-stage{
					position: relative;
					width: 3420px;
					display: flex;
					.owl-item{
						width: 350px;
						margin-right: 30px;
						.price-item{
							margin: 3px;
							.price-block{
								background: white;
								padding: 20px;
								box-shadow: 0 5px 27px 0 rgba(0, 0, 0, 0.05);
								transition: .3s ease;
								&:hover .price-package h2{
									color: @main-color;
								}
								.price-type{
									width: 100%;
									background-image: url(../images/section-bg/price-bg.png);
									background-size: cover;
									padding: 20px;
									h2{
										padding: 5px;
										background: white;
										font-size: 1.6rem;
										color: @main-color;
									}
								}
								.price-package{
									h6{
										font-size: 0.8rem;
										text-transform: uppercase;
										letter-spacing: 0.1rem;
									}
									.user-type{
										margin: 25px 0;
										line-height: 1;
										font-weight: 400;
									}
									.divide{
										height: 1px;
										background: #eee;
										width: 245px;
										margin: 0 auto;
									}
									h2{
										font-size: 2.4rem;
										font-weight: bold;
										margin-top: 30px;
										color: #333;
										line-height: 1;
										transition: .3s ease;
									}
									.price-year{
										margin: 5px;
										margin-bottom: 30px;
										font-weight: 700;
										line-height: 1;
									}
								}
								.feature{
									margin: 25px auto;
									padding: 0;
									li{
										text-transform: capitalize;
										color: @lite-color-text;
										padding: 10px;
									}
								}
								.btn{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
	// End Price
	// Start Contact
	.contact{
		position: relative;
		width: 100%;
		padding: 100px 0;
		background-image: url(../images/section-bg/Contact.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		.contact-circle1{
			position: absolute;
			left: 150px;
			bottom: -20px;
			animation: circle-right 3s infinite linear;
		}
		.contact-circle2{
			position: absolute;
			left: 250px;
			bottom: 150px;
			animation: circle-right 2.6s infinite linear;
		}
		.row{
			display: flex;
			align-items: center;
			.cont-form{
			width: 70%;
			height: 100%;
			form{
				position: relative;
				height: 100%;
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				input,
				textarea{
					margin-bottom: 20px;
					width: 48%;
					font-size: 0.8rem;
					padding: 12px 30px;
					border-radius: 20px;
					color: @lite-color-text;
					outline: none;
					border: none;
					box-shadow: 0 0 5px 0 rgba(170, 170, 170, 0.15);
					&::placeholder{
						color: @lite-color-text;
					}
					&:nth-child(3){
						width: 100%;
					}
				}
				textarea{
					width: 100%;
				}
				.btn{
					font-size: 0.93rem;
					padding: 10px 25px;
					outline: none;
					border: none;
					width: 120px;
					position: absolute;
					right: 0;
					bottom: 0;
				}
				.btn-custom{
					font-weight: 300;
				}
			}
			}
			.cont-img{
				width: 30%;
				img{
					width: 70%;
					margin-left: 50px;
				}
			}
		}
	}
	// End Contact
	// Start Subckribe
	.sub{
		width: 100%;
		position: relative;
		padding: 100px 0;
		.row{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			i{
				font-size: 4rem;
				color: @main-color;
				margin-bottom: 10px;
			}
			h2{
				margin-bottom: 10px;
			}
			p{
				text-align: center;
				color: @lite-color-text;
				line-height: 1.8em;
				text-transform: capitalize;
				margin-bottom: 20px;
			}
			.footer-form{
				width: 60%;
				display: flex;
				flex-direction: column;
				align-items: center;
				input{
				width: 100%;
				margin-bottom: 20px;
				border-radius: 50px;
				padding: 20px 0;
				border: 2px solid #eeeeee;
				font-size: 0.8rem;
				text-align: center;
				text-transform: uppercase;
				outline: none;
				transition: box-shadow 0.15s ease-in-out; 
					&:focus{
						box-shadow: 0 0 2px 4px rgba(139, 185, 253, 0.521);
					}
				}
				.btn{
					border: none;
					padding: 10px 25px;
					font-size: 0.93rem;
					outline: none;
					width: 120px;
				}
				.btn-custom{
					font-weight: 300;
				}
			}
		}
	}
	// End Subscribe
	// Start Map
	.map{
		width: 100%;
		position: relative;
		overflow: hidden;
		.row{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			.addres-bar{
				background: @gradient-color;
				width: 50%;
				padding: 50px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				.style-footer{
					list-style-type: none;
					li{
						display: flex;
						margin-bottom: 25px;
						.footer-icon,
						.footer-addres a{
							color: white;
						}
						.footer-icon{
							margin-right: 15px;
							i{
								font-size: 2.1rem;
							}
						}
						.footer-addres{
							a{
							}
						}
					}
				}
			}
			.map-bar{
				width: 50%;
				iframe{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	// End Map
}
// End Main
// Start Footer
.copyright{
	width: 100%;
	position: relative;
	p{
		width: 100%;
		text-align: center;
		padding: 15px 0;
		text-transform: capitalize;
		color: @lite-color-text;
	}
}
// End Footer