// out: ../css/style.css, sourceMap: trye

// ШРИФТЫ
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

// ПЕРЕМЕННЫЕ

@main-color: #18e7d3;
@main-color-text: #444444;
@lite-color-text: #777777;
@hover-color: #59f7df;
@border-icon-color: #e6e6e6;

@gradient-color: linear-gradient(to bottom, #42ffd0 0%, #42ffd0 8%, #37d2ed 75%, #37d2ed 100%);

@h2Size: 2rem;

// АНИМАЦИЯ КРУГОВ
@keyframes circle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}



*{
	margin: 0;
	padding: 0;
	font-size: 15px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	color: @main-color-text;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	max-width: 1140px;
	margin: auto;
}
.row{
	padding-left: 15px;
	padding-right: 15px;
	// display: flex;
	// flex-wrap: wrap;
}
.f-bold{
	font-weight: 700;
}





// Start Header Style

.fixed-nav{
	padding-top: 15px;
	padding-bottom: 15px;
}
// Header Style
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/section-bg/head-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	// background: #dbd6d6;

	// Home Decor 
	.home-decor{
		position: absolute;
		width: 100%;
		height: auto;
		.circle3{
		position: absolute;
			top: 185px;
			left: 75px;
			animation: circle 3s linear infinite;
		}
		.circle2{
			position: absolute;
			top: 120px;
			right: 80px;
			animation: circle 2.7s linear infinite;
		}
		.circle1{
			position: absolute;
			top: 230px;
			right: 100px;
			animation: circle 3.2s linear infinite;
		}
	}
	// End Home Decor


	// Style navbar
	.navbar{
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo{
			display: block;
			width: auto;
		}
		.navbar-toggle{
			display: block;
		}
		.navbar-box{
			width: 80%;
			.navbar-nav{
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.nav-item{
					margin-left: 20px;
					.nav-link{
						text-transform: uppercase;
						color: @lite-color-text;
					}
					.active{
						color: @main-color;
					}
				}
			}
		}
	}
	// End Style Navbar

	// Style Home Page
	.home{
		position: relative;
		z-index: 100;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		.title{
			width: 45%;
			height: calc(100vh - 24px);
			display: flex;
			justify-content: center;
			flex-direction: column;
			.title-img{
				width: 47px;
			}
			.title-text{
				font-weight: 700;
				color: @main-color-text;
				font-size: 1.2rem;
				text-transform: uppercase;
			}
			h1{
				text-transform: uppercase;
				font-weight: 300;
				font-size: 4.2rem;
				color: @main-color;
				.f-bold{
					font-size: 4.2rem;
				}
				.f-color{
					color: @main-color-text;
					font-size: 4.2rem;
				}
				p{
					color: @lite-color-text;
				}
			}
			.market{
				margin-top: 20px;
			}
		}
		.home-phone{
			width: 55%;
			text-align: center;
			img{
				width: 75%;
			}
		}
	}
}
// End Header Style

// Main 
.main{
	width: 100%;
	height: auto;
	// About Style
	.about{
		padding: 100px 0;
		position: relative;
		width: 100%;
		height: auto;
		background-image: url(../images/section-bg/about-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		.about-circle1{
			position: absolute;
			z-index: 10;
			right: 130px;
			bottom: 160px;
			animation: circle 3s infinite linear;
		}
		.about-circle2{
			position: absolute;
			right: 0;
			bottom: 0;
			animation: circle 3.5s infinite linear;
		}
		.row{
			display: flex;
			justify-content: center;
			.about-contain{
				width: 45%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				.title{
					font-size: @h2Size;
					font-weight: 300;
					letter-spacing: 4px;
					span{
						font-size: @h2Size;
						font-weight: 700;
					}
				}
				.caption-about{
					color: @lite-color-text;
					letter-spacing: 0.07rem;
					line-height: 1.8rem;
				}
				.about-opp{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					.about-hover{
						display: flex;
						align-items: center;
						width: 50%;
						height: 50px;
						margin-top: 20px;
						&:hover .about-icon{
							background-color: @main-color;
						}
						&:hover .about-icon i{
							color: white;
						}
						.about-icon{
							width: 45px;
							height: 45px;
							border: 1px solid @border-icon-color;
							border-radius: 50%;
							text-align: center;
							transition: .3s ease;
							i{
								line-height: 2;
								color: @lite-color-text;
								font-size: 1.4rem;
							}
						}
						.about-text{
							padding-left: 15px;
							h3{
								letter-spacing: 1px;
								font-weight: 600;
								color: @main-color-text;
								text-transform: capitalize;
								font-size: 1.03rem;
							}
						}
					}
				}
				.button{
						width: 100%;
						margin-top: 30px;
						.btn{
							cursor: pointer;
							font-weight: 400;
							text-align: center;
							line-height: 1.5;
							
						}
						.btn-custom{
							font-size: 0.93rem;
							padding: 10px 25px;
							border: none;
							color: white;
							border-radius: 50px;
							background-image: linear-gradient(to right, #19d3dc, #18e7d3, #18e7d3, #19d2dd);
							background-size: 300% 100%;
								transition: .4s ease-in-out;
							&:hover{
								background-position: 100% 0;
								transition: .4s ease-in-out;
							}
						}
					}
			}
			.about-right{
				position: relative;
				z-index: 11;
				width: 55%;
				height: 600px;
				.about-phone{
					background: @gradient-color;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	// End About Style

	// Features Style
	.features{
		background: url(../images/section-bg/feature-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0;
		min-height: 850px;
		position: relative;
		padding-top: 100px;
		.features-circle{
			position: absolute;
			z-index: 1;
			right: 100px;
			bottom: 150px;
			animation: circle 3s infinite linear;
		}
		.row{
			display: flex;
			justify-content: center;
			.feature-img{
				width: 40%;
				img{
					width: 90%;
				}
			}
			.features-info{
				position: relative;
				z-index: 10;
				width: 60%;
				padding-top: 50px;
				h2{
					font-size: @h2Size;
					font-weight: 300;
					letter-spacing: 0.2rem;
					span{
						font-size: @h2Size;
					}
				}
				.box{
					margin-top: 30px;
					display: flex;
					flex-wrap: wrap;
					.info-box{
						width: 50%;
						margin-bottom: 50px;
						.feature-name{
							width: 100%;
							display: flex;
							line-height: 2;
							i{
								color: @main-color;
								font-size: 1.4rem;
							}
							h4{
								padding-left: 15px;
								line-height: 1.5rem;
								font-weight: 600;
								font-size: 1.06rem;
							}
						}
							p{
								margin-top: 15px;
								color: @lite-color-text;
							}
					}
				}
			}
		}
	}
	// End Features Style
}


// End Main