@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }
  .main .entry .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main .entry .row .quality {
    width: 33%;
    padding: 20px;
    font-size: 1.65rem;
  }
  .main .info h2 {
    font-size: 1.65rem !important;
  }
  .main .info .block-info {
    position: relative;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main .info .block-info .image,
  .main .info .block-info .text {
    width: 450px;
    margin: 0 auto;
  }
  .main .info .block-info .text p {
    font-size: 1rem !important;
  }
  .main .info .block-info .text h3 {
    font-size: 1rem !important;
  }
  .main .social .menu-toggle {
    display: none;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 640px;
  }
  .main .navig {
    position: relative;
  }
  .main .navig label {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 15%;
    line-height: 50px;
  }
  .main .navig label .fas {
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .main .navig #btn:checked ~ #menu-toggle a {
    transform: translateY(0%);
  }
  .main .navig #btn:checked ~ #menu-toggle {
    height: 140px;
    transition: .3s ease;
  }
  .main .navig #menu-toggle {
    overflow-y: hidden;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    transition: .3s ease;
  }
  .main .navig #menu-toggle a {
    transition: 0.3s ease-in;
    margin-left: 20%;
    transform: translateY(-215%);
    padding: 11px 5px;
  }
  .main .navig #menu-toggle a::after,
  .main .navig #menu-toggle a::before {
    top: 20px;
  }
  .main .social {
    position: relative;
  }
  .main .social label {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 15%;
    line-height: 50px;
  }
  .main .social label .fas {
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .main .social #btn2:checked ~ #menu-toggle2 a {
    transform: translateY(0%);
  }
  .main .social #btn2:checked ~ #menu-toggle2 {
    height: 90px;
    transition: .3s ease;
  }
  .main .social #menu-toggle2 {
    overflow-y: hidden;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    transition: .3s ease;
  }
  .main .social #menu-toggle2 a {
    transition: 0.3s ease-in;
    margin-left: 20%;
    transform: translateY(-215%);
    padding: 11px 5px;
  }
  .main .social #menu-toggle2 a::after,
  .main .social #menu-toggle2 a::before {
    top: 20px;
  }
  .main .old-age header {
    background-position: 50% 0;
  }
  .main .old-age .photo-old-age .photo {
    width: 49%;
  }
  .main .old-age .entry-bg-bold .text,
  .main .old-age .entry-bg-bold .text-bold {
    font-size: 1.5rem;
  }
  .main .old-age .entry-bg-bold button {
    width: 60%;
  }
  footer .row .time {
    width: 50%;
    text-align: center;
  }
  footer .row .time p {
    font-size: 1.5rem;
  }
  footer .row .ooo {
    width: 50%;
  }
  footer .row .name {
    margin: 30px 0;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
  header {
    background-position: -250px 0;
    background-repeat: no-repeat;
  }
  header .row .title {
    font-size: 3rem;
    padding-top: 10%;
    line-height: 4rem;
  }
  .main .entry .row {
    padding-top: 20px;
  }
  .main .entry .row .quality {
    font-size: 1.25rem;
  }
  .main .entry .entry-text .text,
  .main .entry .entry-text .issues {
    font-size: 1.5rem;
  }
  .main .entry .entry-text button {
    width: 100%;
  }
  .main .entry .entry-text .text-bold {
    font-size: 1.3rem;
  }
  .main .work h2 {
    font-size: 2.2rem;
  }
  .main .work p {
    font-size: 1.2rem;
  }
  .main .work .photos-works .photo {
    width: 100%;
  }
  .main .info button {
    width: 100%;
  }
  .main .correction h2 {
    font-size: 1.65rem;
  }
  .main .correction .overlap .image {
    width: 100%;
  }
  .main .correction .overlap .text {
    width: 100%;
  }
  .main .correction .overlap .list {
    padding-top: 10px ;
  }
  .main .correction .entry-text button {
    width: 100%;
  }
  .main .old-age header {
    height: 300px;
  }
  .main .old-age header .title {
    font-size: 2rem;
  }
  .main .old-age .photo-old-age .photo {
    width: 49%;
  }
  .main .old-age .entry-bg-bold .text,
  .main .old-age .entry-bg-bold .text-bold {
    font-size: 1.5rem;
  }
  .main .old-age .entry-bg-bold button {
    width: 80%;
  }
  .main .map {
    height: 300px;
  }
  .main .map .address {
    margin-top: 0;
    width: 250px;
    top: 10px;
    right: 10px;
    padding: 15px;
  }
  .main .map .address strong {
    font-size: 1rem;
  }
  footer .name {
    display: none;
  }
  footer .ooo a {
    width: 171px;
  }
  footer .name,
  footer .ooo,
  footer .time {
    text-align: center;
    width: 100% !important;
  }
}
@media (max-width: 320px) {
  .main .entry .row .quality {
    width: 50%;
    padding: 7px;
  }
}
