/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:100,400,700&subset=cyrillic');
/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #fff;
}
input[type="checkbox"] {
  display: none;
}
h2 {
  padding: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
button {
  font-size: 1.7rem;
  width: 40%;
  height: 60px;
  background: #000;
  color: #fff;
  outline: none;
  border: 1px solid #000;
  margin-bottom: 20px;
  transition: .5s;
}
button:hover {
  background: #fff;
  color: #000;
}
.container {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.entry-text {
  margin-top: 70px;
  text-align: center;
}
.entry-text .text,
.entry-text .issues {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.entry-text button {
  font-size: 1.7rem;
  width: 400px;
  height: 60px;
  background: #000;
  color: #fff;
  outline: none;
  border: 1px solid #000;
  margin-bottom: 20px;
  transition: .5s;
}
.entry-text button:hover {
  background: #fff;
  color: #000;
}
.entry-text .text-bold {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}
header {
  background-image: url(../images/header-img.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
header .row .title {
  font-family: 'PT Sans', sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 0.8;
  text-align: right;
  padding-top: 5%;
}
/* МОДАЛЬНОЕ ОКНО */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: rgba(0, 0, 5, 0.5);
  display: none;
}
.modal .modal-block {
  position: relative;
  top: 100px;
  left: 50%;
  margin-left: -175px;
  width: 380px;
  height: auto;
  background: #FFF;
}
.modal .modal-block p {
  font-size: 1.2rem;
  padding: 10px 0;
}
.modal .modal-block #close {
  display: block;
  position: absolute;
  top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.modal .modal-block #close svg {
  transition: .5s ease;
  width: 100%;
}
.modal .modal-block #close:hover svg {
  transform: rotate(180deg);
}
.modal .modal-block form input {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #c4c4c4;
}
.modal .modal-block form input:focus {
  border-bottom: 1px solid #EE7808;
}
.modal .modal-block form button {
  width: 100%;
}
.modal .modal-block .form-text {
  font-size: 0.85rem;
  line-height: 1;
}
/*  */
.main .navig {
  width: 100%;
  height: 100%;
  background: #333;
}
.main .navig label {
  display: none;
}
.main .navig #menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .navig #menu-toggle a {
  display: inline-block;
  padding: 16px 7px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  position: relative;
  margin: 0 5px;
  transition: .3s;
}
.main .navig #menu-toggle a:hover {
  background: rgba(26, 26, 26, 0.5);
}
.main .navig #menu-toggle a::after,
.main .navig #menu-toggle a::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
}
.main .navig #menu-toggle a::after {
  top: 24px;
  right: 0;
}
.main .navig #menu-toggle a::before {
  top: 24px;
  left: 0;
}
.main .entry {
  background-image: url(../images/pattern_11.png);
  width: 100%;
  min-height: 500px;
}
.main .entry .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.main .entry .row .quality {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
.main .work {
  text-align: center;
  margin-bottom: 50px;
}
.main .work h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.main .work p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.main .work .photos-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main .work .photos-works .photo {
  width: 33%;
  position: relative;
  margin-top: 5px;
}
.main .work .photos-works .photo:hover .overlay {
  transform: scale(1);
  transform-origin: top center;
}
.main .work .photos-works .photo img {
  width: 100%;
}
.main .work .photos-works .photo .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  transform-origin: bottom center;
  transform: scale(0);
  transition: .5s;
}
.main .work .photos-works .photo .overlay .fab {
  font-size: 1.5rem;
  color: red;
}
.main .work .photos-works .photo .overlay a {
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 40px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.main .social {
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
}
.main .social label {
  display: none;
}
.main .social #menu-toggle2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .social #menu-toggle2 a {
  display: inline-block;
  padding: 14px 7px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  position: relative;
  margin: 0 5px;
  transition: .3s;
}
.main .social #menu-toggle2 a:hover {
  background: rgba(26, 26, 26, 0.5);
}
.main .social #menu-toggle2 a::after,
.main .social #menu-toggle2 a::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
}
.main .social #menu-toggle2 a::after {
  top: 22px;
  right: 0;
}
.main .social #menu-toggle2 a::before {
  top: 22px;
  left: 0;
}
.main .info {
  width: 100%;
  margin-bottom: 20px;
}
.main .info .entry-text {
  margin-top: 70px;
  text-align: center;
}
.main .info .entry-text .text,
.main .info .entry-text .issues {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.main .info .entry-text .text-bold {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.main .info h2 {
  text-align: center;
}
.main .info .block-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.main .info .block-info:nth-child(4) {
  border-bottom: none;
}
.main .info .block-info .image {
  width: 50%;
  padding: 7px;
  border: 1px solid #e0e0e0;
}
.main .info .block-info .image img {
  width: 100%;
}
.main .info .block-info .text {
  padding: 0 10px;
  width: 50%;
}
.main .info .block-info .text h3 {
  display: block;
  padding: 10px;
  margin-bottom: 4px;
  font-size: 1.8rem;
  font-weight: 100;
  border-bottom: 1px solid #e0e0e0;
}
.main .info .block-info .text p {
  font-size: 1.2rem;
  text-indent: 20px;
}
.main .info .block-info .text .list {
  text-indent: 0;
}
.main .correction {
  position: relative;
  width: 100%;
  min-height: 700px;
  background: url(../images/pattern_11.png);
}
.main .correction .overlap {
  width: 100%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main .correction .overlap .image {
  width: 50%;
  padding: 8px;
  border: 1px solid #e0e0e0;
  background: #FFF;
}
.main .correction .overlap .image img {
  width: 100%;
}
.main .correction .overlap .text {
  width: 50%;
  padding: 0 25px;
  text-align: justify;
}
.main .correction .overlap .text p {
  font-size: 1.2rem;
  text-indent: 20px;
}
.main .correction .overlap .list {
  text-align: left;
  width: 100%;
  padding-top: 25px;
}
.main .correction .overlap .list p {
  font-size: 1.1rem;
}
.main .correction .overlap .list ul {
  display: block;
  padding-top: 15px;
  padding-left: 40px;
  font-size: 1.1rem;
}
.main .old-age {
  position: relative;
  width: 100%;
}
.main .old-age header {
  background-image: url(../images/TattooInOldAge/old-fon.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.main .old-age header .title {
  color: #FFF;
  font-size: 2.5rem;
  line-height: 1.1;
}
.main .old-age p {
  text-align: center;
  padding: 20px 0;
  font-size: 1.75rem;
  line-height: 1;
}
.main .old-age .photo-old-age {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main .old-age .photo-old-age .photo {
  width: 24%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.main .old-age .photo-old-age .photo img {
  width: 100%;
}
.main .old-age .entry-bg-bold {
  background: #3D3D3D;
  background-image: url(../images/pattern_11.png);
  background-position: center center;
  background-repeat: repeat;
  color: #fff;
  text-align: center;
}
.main .old-age .entry-bg-bold button {
  background: #000!important;
  margin-bottom: 0;
}
.main .old-age .entry-bg-bold button:hover {
  background: #FFF!important;
}
.main .map {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.main .map .address {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 400px;
  height: auto;
  margin-top: -180px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e0e0e0;
  font-size: 1.375rem;
  padding: 30px;
  text-align: left;
}
.main .map .address strong {
  font-size: 1.3rem;
}
footer {
  position: relative;
  background: #3D3D3D;
  background-image: url(../images/pattern_11.png);
  background-position: center center;
  background-repeat: repeat;
  color: #fff;
  min-height: 80px;
  height: auto;
  line-height: 2;
}
footer .row {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .row input {
  display: none;
}
footer .row label {
  cursor: pointer;
  border-bottom: 1px dashed #fff;
}
footer .row label:hover {
  border-bottom: transparent;
}
footer .row #policy:checked ~ #policy-text {
  height: 0;
}
footer .row #policy-text {
  height: 100%;
  overflow: hidden;
  background: #fff;
  color: #000;
}
footer .row #policy-text h3 {
  font-size: 1.5rem;
}
footer .row .name {
  width: 20%;
}
footer .row .name h3 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 100;
}
footer .row .ooo {
  width: 50%;
}
footer .row .ooo p {
  font-size: 0.81rem;
}
footer .row .time {
  width: 25%;
}
footer .row .time p {
  font-size: 1.75rem;
}
