@media (max-width: 1024px) {
  @keyframes circle {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .header .home-decor .circle3 {
    top: 400px;
  }
  .header .home-decor .circle2 {
    right: 30px;
  }
  .header .home-decor .circle1 {
    right: 50px;
    top: 280px;
  }
  .header .navbar {
    padding-right: 10px;
  }
  .header .home .title .title-text {
    font-size: 1rem;
  }
  .header .home .title h1 {
    font-size: 3.7rem;
  }
  .header .home .title h1 .f-bold {
    font-size: 3.7rem;
  }
}
@media (max-width: 768px) {
  .header .home-decor .circle1,
  .header .home-decor .circle2,
  .header .home-decor .circle3 {
    animation: none;
  }
  .header .home-decor .circle2 {
    right: -33px;
    top: 65px;
  }
  .header .navbar_shadow {
    box-shadow: 1px 1px 12px 1px #e3e3e3;
  }
  .header .navbar {
    transition: .3s ease;
    padding: 15px 0;
  }
  .header .navbar .navbar-toggle {
    display: block;
    width: 55px;
    height: 40px;
    margin-right: 100px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .header .navbar .navbar-toggle span {
    text-align: center;
    width: 80%;
    height: 1px;
    color: rgba(29, 28, 28, 0.719);
  }
  .header .navbar .navbar-box {
    display: none;
  }
  .header .home .title {
    width: 100%;
    align-items: center;
  }
  .header .home .title p {
    text-align: center;
    font-weight: 300;
    font-size: .85rem;
  }
  .header .home .title .title-text {
    font-size: 0.9rem;
  }
  .header .home .title h1 {
    font-size: 3.4rem;
  }
  .header .home .title h1 .f-bold {
    font-size: 3.4rem;
  }
  .header .home .home-phone {
    display: none;
  }
}
