<header class="header fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-24 col-xs-14">
        <div id="lmm-menu">
          <lmm-menu :glossary="glossary" :materials="materials" :menu-items="menuItems" :show-content="true"
            :show-glossary="true" :show-materials="true">
          </lmm-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-header">
    <div class="header__top">
      <div class="row align-items-center justify-content-between">
        <!-- logo & text -->
        <div class="d-flex align-items-center flex-grow">
          <a href="javascript:void(0);" class="header__link">
            <img src="../../images/logo.svg" alt="logo" class="header__img" />
          </a>
          <p class="header__course-name hide-xs">Гайдлайн Eldorado</p>
          <!-- nav -->
          <div class="header-icon-menu">
            <sapn class="header-icon-menu__item"></sapn>
            <sapn class="header-icon-menu__item"></sapn>
            <sapn class="header-icon-menu__item"></sapn>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>