<div class="fader">
    <div class="nav">
        <div class="nav__main">
            <div class="nav__main--list">
                <div class="nav__main--item">
                    <div class="nav__main--item_label">Компоненты</div>
                    <div class="nav__sub">
                        <div class="nav__sub--list">
                            <div class="nav__sub--item"><a href="#grid_full">Grid (Concept full)</a></div>
                            <div class="nav__sub--item"><a href="#buttons">Кнопки</a></div>
                            <div class="nav__sub--item"><a href="#table">Таблица</a></div>
                            <div class="nav__sub--item"><a href="#divider">Элемент разделитель</a></div>
                            <div class="nav__sub--item"><a href="#blockquote">Элемент цитата</a></div>
                            <div class="nav__sub--item"><a href="#lists">Списки</a></div>
                            <div class="nav__sub--item"><a href="#title">Заголовки</a></div>
                            <div class="nav__sub--item"><a href="#text">Текста</a></div>
                            <div class="nav__sub--item"><a href="#margins">Отступы</a></div>
                            <div class="nav__sub--item"><a href="#pers_man">Персонаж мальчик</a></div>
                            <div class="nav__sub--item"><a href="#pers_women">Персонаж девочка</a></div>
                            <div class="nav__sub--item"><a href="#pers_man_circle_left">Персонаж мальчик в кружочке
                                    (положение слева)</a></div>
                            <div class="nav__sub--item"><a href="#pers_man_circle_right">Персонаж мальчик в кружочке
                                    (положение справа)</a></div>
                            <div class="nav__sub--item"><a href="#gallery">Галерея</a></div>
                            <div class="nav__sub--item"><a href="#panel">Элемент карточка</a></div>
                            <div class="nav__sub--item"><a href="#tabs">Элемент вкладки</a></div>
                            <div class="nav__sub--item"><a href="#accordion">Элемент аккордеон</a></div>
                            <div class="nav__sub--item"><a href="#hint">Элемент подсказка</a></div>
                            <div class="nav__sub--item"><a href="#switch">Элемент переключатель</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>