.wrapper {
  max-width: 560px;
  height: 350px;
  background-color: #e3e3e3;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.all {
  color: aqua;
}
img {
  width: 100%;
  height: 100%;
}
button {
  position: absolute;
  cursor: pointer;
}
button img {
  width: 30px;
}
.prew,
.next {
  top: 50%;
  outline: none;
  border: none;
  background-color: #fff;
  z-index: 100;
}
.prew {
  left: 0;
}
.next {
  right: 0;
}
