@media (max-width: 1366px) {
  .header .home .title {
    margin-top: 70px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  @keyframes circle {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .header {
    overflow: hidden;
  }
  .header .home-decor .circle3 {
    position: absolute;
    top: 70px;
    left: 75px;
    animation: circle 3s linear infinite;
  }
  .header .home-decor .circle2 {
    position: absolute;
    top: 120px;
    right: 10px;
    animation: circle 2.7s linear infinite;
  }
  .header .home-decor .circle1 {
    position: absolute;
    top: 230px;
    right: 40px;
    animation: circle 3.2s linear infinite;
  }
  .header .home .title {
    margin-top: 0;
  }
  .header .home .title .title-text {
    font-size: 1rem;
  }
  .header .home .title h1 {
    font-size: 3.5rem;
  }
  .header .home .title h1 .f-bold,
  .header .home .title h1 .f-color {
    font-size: 3.5rem;
  }
  .header .home .home-phone {
    position: relative;
    right: 0;
    top: -30px;
  }
  .header .home .home-phone img {
    width: 65%;
  }
  .main {
    overflow-x: hidden;
  }
  .main .about {
    padding: 80px 0;
    background-position: 60% 0;
  }
  .main .about .about-contain .title {
    font-size: 1.3rem;
  }
  .main .about .about-contain .title span {
    font-size: 1.3rem;
  }
  .main .about .about-circle1 {
    right: 10px;
  }
  .main .about .about-circle {
    right: 10px;
  }
  .main .about .row .about-right {
    height: 500px;
  }
  .main .screenshot {
    background-size: 150%;
  }
  .main .screenshot .screenshot-circle1 {
    left: 60%;
    animation-duration: 3.5s;
  }
  .main .screenshot .screenshot-circle2 {
    left: 70%;
    top: 150px;
  }
  .main .screenshot .screenshot-circle3 {
    left: 20%;
    bottom: 60px;
  }
  .main .screenshot .screenshot-box .sc-mob {
    width: 247px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel {
    height: 375px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage {
    position: absolute;
    left: -120px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 210px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item img {
    width: 100%;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
    width: 450px;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img {
    padding: 5px;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text h5 {
    font-size: 0.83rem;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 290px;
  }
}
@media (max-width: 1024px) {
  .main {
    overflow-x: hidden;
  }
  .main .about .about-circle1 {
    right: 10px;
    top: 10px;
  }
  .main .about .about-circle2 {
    right: -150px;
  }
  .main .screenshot {
    padding: 50px 0;
  }
  .main .screenshot .screenshot-circle1 {
    animation: none;
  }
  .main .screenshot .screenshot-circle2 {
    animation: none;
  }
  .main .screenshot .screenshot-circle3 {
    animation: none;
  }
  .main .screenshot .screenshot-box .sc-mob {
    width: 245px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel {
    height: 375px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage {
    position: absolute;
    left: -120px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 210px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item img {
    width: 100%;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 290px;
  }
  .copyright p {
    font-size: 0.8rem;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 720px;
  }
  .header .home-decor .circle3 {
    top: 340px;
    left: 75px;
    animation: none;
  }
  .header .home-decor .circle2 {
    top: 320px;
    right: 0;
    animation: none;
  }
  .header .home-decor .circle1 {
    top: 130px;
    right: 20px;
    animation: none;
  }
  .header .navbar {
    flex-wrap: wrap;
    height: 50px;
  }
  .header .navbar .logo {
    width: 50%;
  }
  .header .navbar .navbar-toggle {
    position: relative;
    z-index: 999;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .header .navbar .navbar-toggle .navbar-toggle-icon {
    width: 2.1rem;
    height: 1.9rem;
    background-image: url(../images/menu-burger.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header .navbar .navbar-toggle:hover ~ .navbar-box {
    transform: scale(1);
  }
  .header .navbar .navbar-box {
    width: 100%;
    position: relative;
    z-index: 999;
    background: #fff;
    transform-origin: right top;
    transform: scale(0);
    transition: .5s;
  }
  .header .navbar .navbar-box .navbar-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header .navbar .navbar-box .navbar-nav .nav-item {
    padding: 9px 0;
  }
  .header .home .title {
    padding: 0 15px;
  }
  .header .home .title h1 {
    font-size: 2.8rem;
  }
  .header .home .title h1 .f-bold,
  .header .home .title h1 .f-color {
    font-size: 2.8rem;
  }
  .header .home .title p {
    font-size: 0.86rem;
  }
  .header .home .title .market a {
    margin-right: 20px;
  }
  .header .home .home-phone img {
    width: 100%;
  }
  .main .about .about-circle1,
  .main .about .about-circle2 {
    animation: none;
  }
  .main .about .row .about-contain .title {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
  .main .about .row .about-contain .title span {
    font-size: 1.3rem;
  }
  .main .about .row .about-contain .caption-about {
    font-size: 0.86rem;
    line-height: 1.3rem;
  }
  .main .about .row .about-right {
    height: 350px;
  }
  .main .features .features-circle {
    animation: none;
  }
  .main .features .row .feature-img {
    display: none;
  }
  .main .features .row .features-info {
    width: 100%;
  }
  .main .screenshot {
    background-size: 250%;
  }
  .main .screenshot .screenshot-circle3 {
    left: 0;
    bottom: 20px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage {
    position: absolute;
    left: -240px;
  }
  .main .blog .blog-carousel .sl-dots {
    top: auto;
    bottom: -50px;
    right: 45%;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
    left: 200px;
    width: 330px;
  }
  .main .price {
    background-position: top;
    background-size: contain;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 330px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .feature li {
    padding: 5px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .btn {
    padding: 10px 15px;
    width: 60%;
  }
  .main .contact {
    padding: 50px 0;
  }
  .main .contact .contact-circle1 {
    animation: none;
    bottom: -100px;
  }
  .main .contact .contact-circle2 {
    bottom: 100px;
    animation: none;
  }
  .main .contact .row .cont-form {
    width: 100%;
  }
  .main .contact .row .cont-img {
    display: none;
  }
  .main .sub h2 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .main .sub h2 span {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .main .sub p {
    font-size: 0.93rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 540px;
  }
  .header .home .title {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .home .home-phone {
    display: none;
  }
  .main .about .about-circle2 {
    z-index: 1;
  }
  .main .about .row .about-contain {
    z-index: 100;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main .about .row .about-right {
    display: none;
  }
  .main .features {
    background-position: 45% 0;
    padding-top: 50px;
    min-height: 700px;
  }
  .main .features .row .features-info h2 {
    font-size: 1.5rem;
  }
  .main .features .row .features-info h2 span {
    font-size: 1.5rem;
  }
  .main .features .row .features-info p {
    font-size: 0.86rem;
  }
  .main .features .row .features-info .box {
    flex-direction: column;
  }
  .main .features .row .features-info .box .info-box {
    margin-top: -20px;
    width: 100%;
  }
  .main .screenshot {
    padding: 20px 0;
  }
  .main .screenshot .screenshot-box .sc-mob {
    width: 245px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel {
    height: 375px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage {
    position: absolute;
    left: -328px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 210px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item img {
    width: 100%;
  }
  .main .blog .blog-carousel .sl-dots {
    right: 40%;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
    width: 510px;
  }
  .main .price {
    background-position: top;
    background-size: contain;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 510px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .feature li {
    padding: 5px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .btn {
    width: 50%;
  }
  .main .contact .row .cont-form input {
    width: 100% !important;
  }
  .main .map .row .addres-bar,
  .main .map .row .map-bar {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .main .about .about-contain .about-opp {
    flex-direction: column;
    align-items: center;
  }
  .main .about .about-contain .about-opp .about-hover {
    justify-content: center;
    width: 100% !important;
  }
  .main .about .about-contain .button {
    text-align: center;
  }
  .main .screenshot .screenshot-box {
    height: 500px;
  }
  .main .screenshot .screenshot-box .sc-mob {
    display: none;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
    border: 1px solid #cac6c6;
    border-radius: 10px;
    overflow: hidden;
  }
  .main .blog .blog-carousel .sl-dots {
    right: 40%;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
    width: 370px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 390px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .feature li {
    padding: 5px;
  }
  .main .price .price-carousel .owl-stage-outer .owl-stage .owl-item .price-item .price-block .btn {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .header .home-decor .circle1 {
    top: 110px;
    right: 35px;
  }
  .header .home-decor .circle2 {
    left: 30px;
    top: 500px;
  }
  .header .home-decor .circle3 {
    left: 55px;
  }
  .main .about {
    padding: 40px 0;
  }
  .main .screenshot .screenshot-box {
    height: auto;
  }
  .main .screenshot .screenshot-box .screenshot-carousel {
    height: 265px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage {
    left: -260px;
  }
  .main .screenshot .screenshot-box .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 150px;
  }
  .main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
    width: 330px;
  }
  .main .price .price-carousel .price-item {
    width: 330px;
  }
  .main .map .row .addres-bar {
    padding: 20px 0;
  }
  .main .map .row .addres-bar .style-footer li .footer-icon i {
    font-size: 1.5rem;
  }
  .main .map .row .addres-bar .style-footer li .footer-addres a {
    font-size: 0.93rem;
  }
}
/*# sourceMappingURL=./media.css.map */