@media (max-width: 1366px) {
  .header .home .title {
    margin-top: 70px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  @keyframes circle {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .header {
    overflow: hidden;
  }
  .header .home-decor .circle3 {
    position: absolute;
    top: 70px;
    left: 75px;
    animation: circle 3s linear infinite;
  }
  .header .home-decor .circle2 {
    position: absolute;
    top: 120px;
    right: 10px;
    animation: circle 2.7s linear infinite;
  }
  .header .home-decor .circle1 {
    position: absolute;
    top: 230px;
    right: 40px;
    animation: circle 3.2s linear infinite;
  }
  .header .home .title {
    margin-top: 0;
  }
  .header .home .title .title-text {
    font-size: 1rem;
  }
  .header .home .title h1 {
    font-size: 3.5rem;
  }
  .header .home .title h1 .f-bold,
  .header .home .title h1 .f-color {
    font-size: 3.5rem;
  }
  .header .home .home-phone {
    position: relative;
    right: 0;
    top: -30px;
  }
  .header .home .home-phone img {
    width: 65%;
  }
  .main {
    overflow-x: hidden;
  }
  .main .about {
    padding: 80px 0;
    background-position: 60% 0;
  }
  .main .about .about-contain .title {
    font-size: 1.3rem;
  }
  .main .about .about-contain .title span {
    font-size: 1.3rem;
  }
  .main .about .about-circle1 {
    right: 10px;
  }
  .main .about .about-circle {
    right: 10px;
  }
  .main .about .row .about-right {
    height: 500px;
  }
}
@media (max-width: 1024px) {
  .main {
    overflow-x: hidden;
  }
  .main .about .about-circle1 {
    right: 10px;
    top: 10px;
  }
  .main .about .about-circle2 {
    right: -150px;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 720px;
  }
  .header .home-decor .circle3 {
    top: 340px;
    left: 75px;
    animation: none;
  }
  .header .home-decor .circle2 {
    top: 320px;
    right: 0;
    animation: none;
  }
  .header .home-decor .circle1 {
    top: 130px;
    right: 20px;
    animation: none;
  }
  .header .navbar {
    flex-wrap: wrap;
    height: 50px;
  }
  .header .navbar .logo {
    width: 50%;
  }
  .header .navbar .navbar-toggle {
    position: relative;
    z-index: 999;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .header .navbar .navbar-toggle .navbar-toggle-icon {
    width: 2.1rem;
    height: 1.9rem;
    background-image: url(../images/menu-burger.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header .navbar .navbar-toggle:hover ~ .navbar-box {
    transform: scale(1);
  }
  .header .navbar .navbar-box {
    width: 100%;
    position: relative;
    z-index: 999;
    background: #fff;
    transform-origin: right top;
    transform: scale(0);
    transition: .5s;
  }
  .header .navbar .navbar-box .navbar-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header .navbar .navbar-box .navbar-nav .nav-item {
    padding: 9px 0;
  }
  .header .home .title {
    padding: 0 15px;
  }
  .header .home .title h1 {
    font-size: 2.8rem;
  }
  .header .home .title h1 .f-bold,
  .header .home .title h1 .f-color {
    font-size: 2.8rem;
  }
  .header .home .title p {
    font-size: 0.86rem;
  }
  .header .home .title .market a {
    margin-right: 20px;
  }
  .header .home .home-phone img {
    width: 100%;
  }
  .main .about .about-circle1,
  .main .about .about-circle2 {
    animation: none;
  }
  .main .about .row .about-contain .title {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
  .main .about .row .about-contain .title span {
    font-size: 1.3rem;
  }
  .main .about .row .about-contain .caption-about {
    font-size: 0.86rem;
    line-height: 1.3rem;
  }
  .main .about .row .about-right {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 540px;
  }
  .header .home .title {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .home .home-phone {
    display: none;
  }
  .main .about .row .about-contain {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main .about .row .about-right {
    display: none;
  }
}
/*# sourceMappingURL=./media.css.map */