@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .main .screenshot .screenshot-box .mobile-light-left {
    left: 35.1%;
  }
  .main .screenshot .screenshot-box .mobile-light-right {
    right: 35%;
  }
}
@media (min-width: 1024px) {
  .main .screenshot .screenshot-box .sc-mob {
    width: 244px;
  }
}
@media (max-width: 1024px) {
  @keyframes circle {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }
  h2 {
    font-size: 1.5rem;
  }
  .f-bold {
    font-size: 1.5rem;
  }
  .container {
    max-width: 720px;
  }
  .header .home-decor .circle3 {
    top: 400px;
  }
  .header .home-decor .circle2 {
    right: 30px;
  }
  .header .home-decor .circle1 {
    right: 50px;
    top: 280px;
  }
  .header .navbar_fixed {
    padding: 30px 4%;
  }
  .header .navbar_fixed.navbar_shadow {
    padding: 10px 4%;
  }
  .header .navbar .navbar-box .navbar-nav .nav-item {
    margin-left: 15px;
  }
  .header .home .title {
    height: 100vh;
  }
  .header .home .title .title-text {
    font-size: 1rem;
  }
  .header .home .title h1 {
    font-size: 3.7rem;
  }
  .header .home .title h1 .f-bold {
    font-size: 3.7rem;
  }
  .main {
    overflow: hidden;
  }
  .main .about .about-circle1 {
    right: 50%;
    top: 140px;
  }
  .main .about .about-right {
    height: 400px !important;
  }
  .main .features {
    background-position: 80%;
    min-height: 0;
  }
  .main .features .feature-img {
    display: none;
  }
  .main .features .features-info {
    width: 100% !important;
  }
  .main .features .features-info h2 {
    font-size: 1.5rem;
  }
  .main .features .features-info h2 span {
    font-size: 1.5rem !important;
  }
  .main .features .features-info .box .info-box p {
    line-height: 1.25rem;
    font-size: 0.9rem;
    padding-right: 15px;
  }
  .main .screenshot {
    background-size: cover;
  }
  .main .screenshot .screenshot-circle1 {
    left: 24%;
    top: 10px;
  }
  .main .screenshot .screenshot-circle2 {
    left: 74%;
    top: 10px;
  }
  .main .screenshot .screenshot-box .sc-mob {
    width: 245px;
  }
  .main .screenshot .screenshot-box .mobile-light-left {
    left: 30.1%;
  }
  .main .screenshot .screenshot-box .mobile-light-right {
    right: 30%;
  }
  .main .blog .owl-dots {
    top: auto;
    bottom: -40px;
    text-align: center;
  }
  .main .blog .sl-item .box-img {
    padding: 5px;
  }
  .main .blog .sl-item .box-text h5 {
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: capitalize;
  }
  .main .price .price-item .price-block .price-type {
    padding: 10px;
  }
  .main .price .price-item .price-block .price-package .user-type {
    margin: 20px 0;
  }
  .main .price .price-item .price-block .price-package h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .main .price .price-item .price-block .price-package .price-year {
    margin-bottom: 20px;
  }
  .main .price .price-item .price-block .feature {
    margin: 10px auto;
  }
  .main .price .price-item .price-block .feature li {
    padding: 5px;
  }
  .main .price .price-item .price-block .btn {
    padding: 10px 25px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header .home-decor .circle1,
  .header .home-decor .circle2,
  .header .home-decor .circle3 {
    animation: none;
  }
  .header .home-decor .circle2 {
    right: -33px;
    top: 65px;
  }
  .header .navbar_shadow {
    box-shadow: 1px 1px 12px 1px #e3e3e3;
    padding: 10px 4%;
  }
  .header .navbar {
    transition: .3s ease;
    padding: 15px 4%;
  }
  .header .navbar .navbar-toggle {
    display: block;
    width: 55px;
    height: 40px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .header .navbar .navbar-toggle span {
    display: block;
    width: 60%;
    height: 2px;
    margin: 6px 11px;
    background-color: rgba(15, 15, 15, 0.664);
  }
  .header .navbar .navbar-box {
    display: none;
  }
  .header .home .title {
    width: 100%;
    align-items: center;
  }
  .header .home .title p {
    text-align: center;
    font-weight: 300;
    font-size: .85rem;
  }
  .header .home .title .title-text {
    font-size: 0.9rem;
  }
  .header .home .title h1 {
    font-size: 3.4rem;
  }
  .header .home .title h1 .f-bold {
    font-size: 3.4rem;
  }
  .header .home .home-phone {
    display: none;
  }
  .main .about .about-circle1 {
    right: 10px;
    top: 45px;
    animation: none;
  }
  .main .about .about-circle2 {
    animation: none;
  }
  .main .about .about-contain {
    width: 100% !important;
  }
  .main .about .about-right {
    display: none;
  }
  .main .features .features-circle {
    animation: none;
  }
  .main .features .features-info .box .info-box {
    width: 100% !important;
    margin-bottom: 35px !important;
  }
  .main .screenshot .screenshot-circle1,
  .main .screenshot .screenshot-circle2,
  .main .screenshot .screenshot-circle3 {
    animation: none;
  }
  .main .screenshot .screenshot-box .sc-mob {
    width: 295px;
    top: -72px;
  }
  .main .screenshot .screenshot-box .mobile-light-left {
    display: none;
  }
  .main .screenshot .screenshot-box .mobile-light-right {
    display: none;
  }
  .main .price .price-item .price-block .btn {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header .home-decor .circle3 {
    top: 270px;
  }
  .header .home-decor .circle2 {
    top: 300px;
  }
  .header .home-decor .circle1 {
    left: 35%;
    top: 65px;
  }
  .main .about,
  .main .features,
  .main .screenshot,
  .main .blog,
  .main .price,
  .main .contact,
  .main .sub {
    padding: 50px 0;
  }
  .main .about .about-contain .title,
  .main .about .about-contain .caption-about,
  .main .about .about-contain .button {
    text-align: center;
  }
  .main .screenshot .screenshot-box .sc-mob {
    display: none;
  }
  .main .screenshot .screenshot-box .screenshot-item {
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
}
@media (max-width: 357px) {
  .container {
    width: 100%;
  }
  .main .about {
    padding: 50px 0;
  }
  .main .about .about-contain .title {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .main .about .about-contain .title span {
    font-size: 1.5rem !important;
  }
  .main .about .about-contain .caption-about {
    line-height: 1.5rem;
    font-size: 0.85rem;
  }
}
