@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@keyframes circle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circle-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes screenshot {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes sc-left {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(150px);
    opacity: 0.5;
  }
}
@keyframes sc-right {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(-150px);
    opacity: 0.5;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  color: #444444;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  padding-left: 15px;
  padding-right: 15px;
}
.f-bold {
  font-weight: 700;
  font-size: 2rem;
}
.fixed-nav {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/section-bg/head-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.header .home-decor {
  position: absolute;
  width: 100%;
  height: auto;
}
.header .home-decor .circle3 {
  position: absolute;
  top: 185px;
  left: 75px;
  animation: circle 3s linear infinite;
}
.header .home-decor .circle2 {
  position: absolute;
  top: 120px;
  right: 80px;
  animation: circle 2.7s linear infinite;
}
.header .home-decor .circle1 {
  position: absolute;
  top: 230px;
  right: 100px;
  animation: circle 3.2s linear infinite;
}
.header .navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .logo {
  display: block;
  width: auto;
}
.header .navbar .navbar-toggle {
  display: block;
}
.header .navbar .navbar-box {
  width: 80%;
}
.header .navbar .navbar-box .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .navbar .navbar-box .navbar-nav .nav-item {
  margin-left: 20px;
}
.header .navbar .navbar-box .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #777777;
}
.header .navbar .navbar-box .navbar-nav .nav-item .active {
  color: #18e7d3;
}
.header .home {
  position: relative;
  z-index: 100;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header .home .title {
  width: 45%;
  height: calc(76vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header .home .title .title-img {
  width: 47px;
}
.header .home .title .title-text {
  font-weight: 700;
  color: #444444;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.header .home .title h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.2rem;
  color: #18e7d3;
}
.header .home .title h1 .f-bold {
  font-size: 4.2rem;
}
.header .home .title h1 .f-color {
  color: #444444;
  font-size: 4.2rem;
}
.header .home .title h1 p {
  color: #777777;
}
.header .home .title .market {
  margin-top: 20px;
}
.header .home .home-phone {
  width: 55%;
  text-align: center;
}
.header .home .home-phone img {
  width: 75%;
}
.main {
  width: 100%;
  height: auto;
}
.main .about {
  padding: 100px 0;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../images/section-bg/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about .about-circle1 {
  position: absolute;
  z-index: 10;
  right: 130px;
  bottom: 160px;
  animation: circle 3s infinite linear;
}
.main .about .about-circle2 {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: circle 3.5s infinite linear;
}
.main .about .row {
  display: flex;
  justify-content: center;
}
.main .about .row .about-contain {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .about .row .about-contain .title {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 4px;
}
.main .about .row .about-contain .title span {
  font-size: 2rem;
  font-weight: 700;
}
.main .about .row .about-contain .caption-about {
  color: #777777;
  letter-spacing: 0.07rem;
  line-height: 1.8rem;
}
.main .about .row .about-contain .about-opp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .about .row .about-contain .about-opp .about-hover {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
  margin-top: 20px;
}
.main .about .row .about-contain .about-opp .about-hover:hover .about-icon {
  background-color: #18e7d3;
}
.main .about .row .about-contain .about-opp .about-hover:hover .about-icon i {
  color: white;
}
.main .about .row .about-contain .about-opp .about-hover .about-icon {
  width: 45px;
  height: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  text-align: center;
  transition: .3s ease;
}
.main .about .row .about-contain .about-opp .about-hover .about-icon i {
  line-height: 2;
  color: #777777;
  font-size: 1.4rem;
}
.main .about .row .about-contain .about-opp .about-hover .about-text {
  padding-left: 15px;
}
.main .about .row .about-contain .about-opp .about-hover .about-text h3 {
  letter-spacing: 1px;
  font-weight: 600;
  color: #444444;
  text-transform: capitalize;
  font-size: 1.03rem;
}
.main .about .row .about-contain .button {
  width: 100%;
  margin-top: 30px;
}
.main .about .row .about-contain .button .btn {
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}
.main .about .row .about-contain .button .btn-custom {
  font-size: 0.93rem;
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 50px;
  background-image: linear-gradient(to right, #19d3dc, #18e7d3, #18e7d3, #19d2dd);
  background-size: 300% 100%;
  transition: 0.4s ease-in-out;
}
.main .about .row .about-contain .button .btn-custom:hover {
  background-position: 100% 0;
  transition: 0.4s ease-in-out;
}
.main .about .row .about-right {
  position: relative;
  z-index: 11;
  width: 55%;
  height: 600px;
}
.main .about .row .about-right .about-phone {
  background: linear-gradient(to bottom, #42ffd0 0%, #42ffd0 8%, #37d2ed 75%, #37d2ed 100%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about .row .about-right .about-phone img {
  width: 100%;
  height: auto;
}
.main .features {
  background: url(../images/section-bg/feature-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  min-height: 850px;
  position: relative;
  padding-top: 100px;
}
.main .features .features-circle {
  position: absolute;
  z-index: 1;
  right: 100px;
  bottom: 150px;
  animation: circle 3s infinite linear;
}
.main .features .row {
  display: flex;
  justify-content: center;
}
.main .features .row .feature-img {
  width: 40%;
}
.main .features .row .feature-img img {
  width: 90%;
}
.main .features .row .features-info {
  position: relative;
  z-index: 10;
  width: 60%;
  padding-top: 50px;
}
.main .features .row .features-info h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.main .features .row .features-info h2 span {
  font-size: 2rem;
}
.main .features .row .features-info .box {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.main .features .row .features-info .box .info-box {
  width: 50%;
  margin-bottom: 50px;
}
.main .features .row .features-info .box .info-box .feature-name {
  width: 100%;
  display: flex;
  line-height: 2;
}
.main .features .row .features-info .box .info-box .feature-name i {
  color: #18e7d3;
  font-size: 1.4rem;
}
.main .features .row .features-info .box .info-box .feature-name h4 {
  padding-left: 15px;
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 1.06rem;
}
.main .features .row .features-info .box .info-box p {
  margin-top: 15px;
  color: #777777;
}
.main .screenshot {
  background: url(../images/section-bg/screenshot-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
  background-position: center;
  width: 100%;
}
.main .screenshot .screenshot-circle1 {
  position: absolute;
  left: 50%;
  animation: circle 3s infinite linear;
}
.main .screenshot .screenshot-circle2 {
  position: absolute;
  left: 45%;
  animation: circle 2.6s infinite linear;
}
.main .screenshot .screenshot-circle3 {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: circle-right 3.9s infinite linear;
}
.main .screenshot .screenshot-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 630px;
}
.main .screenshot .screenshot-box .sc-mob {
  position: absolute;
  z-index: 100;
  width: 234px;
}
.main .screenshot .screenshot-carousel {
  z-index: 99;
  width: 100%;
  height: 355px;
}
.main .screenshot .screenshot-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage {
  display: flex;
  height: 100%;
  width: 5472px;
  animation: none;
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage .active {
  filter: grayscale(100%);
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage .center {
  filter: grayscale(0%);
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage .owl-item {
  width: 198px;
  height: 100%;
  margin-right: 30px;
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage .owl-item .screenshot-item {
  height: 100%;
  width: 100%;
}
.main .screenshot .screenshot-carousel .owl-stage-outer .owl-stage .owl-item .screenshot-item img {
  width: 198px;
}
.main .blog {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.main .blog .box-blog {
  width: 100%;
  height: 100%;
}
.main .blog .box-blog h2 {
  font-size: 2rem;
  font-weight: 300;
}
.main .blog .blog-carousel {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.main .blog .blog-carousel .sl-dots {
  position: absolute;
  right: 0;
  top: -50px;
}
.main .blog .blog-carousel .sl-dots .sl-dot {
  background: 0 0;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
.main .blog .blog-carousel .sl-dots .sl-dot .active {
  width: 25px;
}
.main .blog .blog-carousel .sl-dots .sl-dot span {
  margin: 5px 7px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 30px;
  background: #18e7d3;
  background: linear-gradient(to bottom, #18e7d3 0, #19d0de 100%);
  transition: .3s ease;
}
.main .blog .blog-carousel .sls-stage-outer {
  position: relative;
  overflow: hidden;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage {
  display: flex;
  width: 6270px;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item {
  width: 540px;
  margin-right: 30px;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img {
  background: url(../images/section-bg/team-img-bg.png);
  width: 100%;
  height: auto;
  padding: 15px;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img:hover img {
  transform: rotate(3deg) scale(1.15);
  transition: all 0.3s ease;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img .sl-img {
  width: 100%;
  padding: 5px;
  background: #fff;
  overflow: hidden;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img .sl-img a {
  text-decoration: none;
  color: #007bff;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-img .sl-img a img {
  display: block;
  width: 100%;
  transition: .3s ease;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text {
  margin-top: 20px;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text h6 {
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text a {
  color: #444444;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text a h3 {
  font-size: 1.13rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.main .blog .blog-carousel .sls-stage-outer .sl-stage .sl-item .box-text h5 {
  margin-top: -10px;
  color: #777777;
}
/*# sourceMappingURL=./style.css.map */