/* ШРИФТЫ */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #666666;
  font-weight: 400;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  position: relative;
  line-height: 1.8em;
}
.container {
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  padding: 15px;
}
.row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-padding {
  padding: 150px 0;
}
/* Animation Scroll Down and Up */
@keyframes scroll {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
.intro__scroll-up,
.intro__scroll-down {
  position: absolute;
  width: 120px;
  height: 80px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.85rem;
  animation: scroll 2s infinite linear;
  cursor: pointer;
  left: calc(38%);
}
.intro__scroll-up .fas,
.intro__scroll-down .fas {
  margin-bottom: 20px;
}
/* End Animation Scroll Down and Up */
/* Animation Background Header */
@keyframes bg {
  0% {
    background-image: url(../images/header/main2.jpg);
    animation-delay: 20s;
  }
}
/* End Animation Background Header */
/* Start Animation Slider */
@keyframes scroll-slider {
  0% {
    left: 0px;
  }
  50% {
    left: -1200px;
  }
  100% {
    left: -2400px;
  }
}
/* End Animation Slider */
/* Start Header */
.header {
  height: 100vh;
  background-image: url(../images/header/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* Header Buttons */
  /* End Header Buttons */
  /* Start Intro Wrapper */
  /* End Intro Wrapper */
}
.header .head {
  position: relative;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #c7c7c73d;
  background: transparent;
  /* LOGO */
  /* End LOGO */
  /* Start Navigation */
  /* End Navigation */
  /* Start menu */
  /* End menu */
}
.header .head .nav {
  position: relative;
}
.header .head .nav input[type="checkbox"] {
  display: none;
}
.header .head .nav .nav__toggle {
  display: none;
}
.header .head .nav ul {
  display: flex;
}
.header .head .nav ul li {
  margin-right: 50px;
  position: relative;
}
.header .head .nav ul li .fas {
  position: absolute;
  right: -20px;
  top: 0px;
}
.header .head .nav ul li a {
  position: relative;
  color: #646464;
  font-weight: 600;
  font-size: 0.93rem;
}
.header .head .nav ul li a::before {
  position: absolute;
  bottom: -25px;
  left: 35%;
  content: '\f141';
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2rem;
  opacity: 0;
  transition: .3s ease;
}
.header .head .nav ul li a:hover::before {
  opacity: 1;
}
.header .head .nav ul li:hover .submenu {
  opacity: 1;
  transform: scale(1);
}
.header .head .nav ul li .submenu {
  transition: .5s ease;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  position: absolute;
  z-index: 99;
  display: block;
  top: 73px;
  background: #fff;
  height: auto;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
}
.header .head .nav ul li .submenu li {
  padding: 10px 15px;
}
.header .head .nav ul li .submenu li a {
  white-space: nowrap;
  font-weight: 400;
}
.header .head .nav ul li .submenu li a::before {
  display: none;
}
.header .head .menu {
  display: flex;
  position: relative;
}
.header .head .menu label input {
  display: none;
}
.header .head .menu label #sch:checked ~ #sch-inp {
  display: block;
}
.header .head .menu .search {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.header .head .menu .search .fas {
  font-size: 1.25rem;
  color: #222;
}
.header .head .menu .search .search-input {
  position: absolute;
  z-index: 100;
  left: -350%;
  top: 50px;
  width: 280px;
  background: #fff;
  border-top: 3px solid #0b0b0b;
  border-radius: 0px 0px 5px 5px;
  display: none;
}
.header .head .menu .search .search-input input {
  display: block;
  width: 85%;
  margin: 20px auto;
  padding: 10px 20px;
  outline: none;
}
.header .head .menu .search .search-input button {
  position: absolute;
  top: 20px;
  right: 22px;
  padding: 12px 15px;
  background: #000;
  border: none;
  outline: none;
  cursor: pointer;
}
.header .head .menu .search .search-input button .fas {
  font-size: 0.8rem;
  color: #fff;
}
.header .head .menu .menu-right__btn-style {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.header .head .menu .menu-right__btn-style:hover .line1 {
  top: 5px;
}
.header .head .menu .menu-right__btn-style:hover .line2 {
  top: 0;
}
.header .head .menu .menu-right__btn-style:hover .line3 {
  top: 0;
}
.header .head .menu .menu-right__btn-style:hover .line4 {
  top: 10px;
}
.header .head .menu .menu-right__btn-style span {
  background: #222;
  width: 2px;
  position: absolute;
  transition: .5s ease;
}
.header .head .menu .menu-right__btn-style .line1 {
  height: 15px;
}
.header .head .menu .menu-right__btn-style .line2 {
  top: 5px;
  left: 5px;
  height: 22px;
}
.header .head .menu .menu-right__btn-style .line3 {
  top: 5px;
  left: 10px;
  height: 22px;
}
.header .head .menu .menu-right__btn-style .line4 {
  top: 5px;
  left: 15px;
  height: 10px;
}
.header .menu-right__btn #bur:checked ~ #menu-right {
  right: 0;
}
.header .menu-right__btn #ex:checked ~ #menu-right {
  right: -300px;
}
.header .menu-right__btn .menu-right {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #252525;
  padding: 30px;
  transition: .3s ease;
  z-index: 100;
}
.header .menu-right__btn .menu-right .exit {
  position: relative;
  display: block;
  left: 210px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header .menu-right__btn .menu-right .exit:hover .line1 {
  transform: rotate(-45deg);
}
.header .menu-right__btn .menu-right .exit:hover .line2 {
  transform: rotate(45deg);
}
.header .menu-right__btn .menu-right .exit span {
  position: absolute;
}
.header .menu-right__btn .menu-right .exit .line1,
.header .menu-right__btn .menu-right .exit .line2 {
  top: -1px;
  left: 9px;
  width: 2px;
  height: 24px;
  background: #fff;
  transition: .5s ease;
}
.header .menu-right__btn .menu-right .exit .line1 {
  transform: rotate(45deg);
}
.header .menu-right__btn .menu-right .exit .line2 {
  transform: rotate(-45deg);
}
.header .menu-right__btn .menu-right .about {
  margin-top: 20px;
}
.header .menu-right__btn .menu-right .about h3 {
  color: #fff;
  margin-bottom: 20px;
}
.header .menu-right__btn .menu-right .about p {
  color: #9c9c9c;
  font-weight: 600;
  margin-bottom: 50px;
}
.header .menu-right__btn .menu-right .about a {
  background: transparent;
  color: #fff;
  padding: 13px 40px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-weight: 900;
  font-size: 0.92rem;
  transition: .3s ease;
}
.header .menu-right__btn .menu-right .about a:hover {
  background: #fff;
  color: #000;
}
.header .menu-right__btn .menu-right .contacts {
  margin-top: 70px;
}
.header .menu-right__btn .menu-right .contacts h3 {
  color: #fff;
  margin-bottom: 15px;
}
.header .menu-right__btn .menu-right .contacts ul li {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
}
.header .menu-right__btn .menu-right .contacts ul li i {
  margin-right: 12px;
  font-size: 1.125rem;
  line-height: 2rem;
}
.header .intro-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 1;
}
.header .intro-wrapper .intro__scroll-down {
  bottom: 150px;
}
.header .intro-wrapper .intro__scroll-down .fas {
  font-size: 2.2rem;
}
.header .intro-wrapper .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .intro-wrapper .row .intro {
  position: absolute;
  width: 50%;
  margin-top: -10%;
}
.header .intro-wrapper .row .intro .intro__title {
  color: #222;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.2;
}
.header .intro-wrapper .row .intro .intro__subtitle {
  margin-top: 25px;
  text-transform: uppercase;
}
.header .intro-wrapper .row .intro .intro__btn-portfolio {
  display: inline-block;
  width: auto;
  padding: 12px 26px;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
  font-weight: 900;
  font-size: 0.8rem;
  border: 2px solid #222;
}
.header .intro-wrapper .row .intro .intro__btn-portfolio:hover {
  background: #fff;
  color: #000;
  border: 2px solid #222;
  box-sizing: border-box;
}
/* End Header */
/* Start main Section */
.main {
  width: 100%;
  height: auto;
  position: relative;
  /* Start Section Welcome */
  /* End Section Welcome */
  /* Start AboutUs Section */
  /* End AboutUs Section */
  /* Start Servises Section */
  /* End Servises Section */
  /* Start Exclusive Section  */
  /* End Exclusive Section  */
  /* Start Section Portfolio */
  /* End Section Portfolio */
  /* Start Slider Section */
  /* End Slider Section */
  /* Start Clients Section */
  /* End Clients Section */
  /* Start Contact Section */
  /* End Contact Section */
}
.main .welcome {
  width: 100%;
  height: auto;
}
.main .welcome .welcome-title {
  width: 45%;
}
.main .welcome .welcome-title h2 {
  text-align: right;
  position: relative;
  font-size: 1.87rem;
  margin-right: 15px;
}
.main .welcome .welcome-title h2:after {
  position: absolute;
  content: '';
  right: -15px;
  top: 2px;
  width: 1px;
  height: 124px;
  background: #ecf0f6;
}
.main .welcome .welcome-text {
  text-align: left;
  width: 45%;
  position: relative;
  margin-left: 15px;
}
.main .row-flex {
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .about {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
}
.main .about p {
  position: relative;
  line-height: 1.8em;
}
.main .about .about__strategy,
.main .about .about__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 440px;
}
.main .about .about__strategy {
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 31%;
  padding: 80px 20px;
  color: #fff;
  align-items: center;
}
.main .about .about__strategy .fas,
.main .about .about__strategy .fab {
  font-size: 3rem;
}
.main .about .about__strategy a {
  color: #fff;
  font-size: 2rem !important;
}
.main .about .about__strategy .about__strategy-title {
  margin: 30px 0;
}
.main .about .about__strategy .about__strategy-text {
  font-size: 1.08rem;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.main .about .about__main {
  width: 32%;
  align-items: left;
  padding: 80px 0;
}
.main .about .about__main .about__main-title {
  font-size: 1.97rem;
  font-weight: 600;
  line-height: 1.6em;
}
.main .about .about__main .about__main-subtitle {
  margin: 0 0 10px;
}
.main .about .about__main .about__main-btn {
  padding: 13px 35px;
  background: #ffffff;
  color: #222;
  border: 2px solid #e5e9f2;
  font-size: 0.87rem;
  font-weight: 800;
  width: 220px;
  transition: .3s ease;
}
.main .about .about__main .about__main-btn:hover {
  background: #222;
  color: #fff;
}
.main .row-flex {
  justify-content: space-between;
}
.main .servises {
  width: 100%;
  height: auto;
}
.main .servises .servises-sec {
  width: 32%;
  min-height: 500px;
}
.main .servises .servises-sec .servises-sec__top {
  padding-left: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  border-left: 1px solid#222;
  transition-duration: .5s;
}
.main .servises .servises-sec .servises-sec__top .fab {
  font-size: 3rem;
}
.main .servises .servises-sec .servises-sec__top .servises-sec__top-title {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 15px 0;
}
.main .servises .servises-sec .servises-sec__top:hover {
  box-shadow: 2px 2px 2px 2px #cecece;
  padding-left: 10px;
  padding-top: 10px;
}
.main .servises .servises-sec .servises__sec-text {
  padding: 25px 0 15px 0;
  margin: 0 0 10px;
}
.main .servises .servises-sec .servises__sec-more {
  color: #222;
  margin-top: 30px;
}
.main .servises .servises-sec .servises__sec-more .fas {
  padding-left: 10px;
  font-size: 0.8rem;
}
.main .servises .servises-sec .servises__sec-more:hover {
  color: #23527c;
}
.main .row-flex {
  justify-content: space-around;
  align-items: center !important;
}
.main .exclusive {
  width: 100%;
  min-height: 300px;
  background-image: url(../images/ctabg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.main .exclusive .exclusive-content {
  width: 70%;
  height: auto;
}
.main .exclusive .exclusive-content .exclusive-content__title {
  font-size: 1.5rem;
}
.main .exclusive .exclusive__btn {
  width: 180px;
  height: 50px;
  background-color: #222;
  border: 2px solid #222;
  line-height: 48px;
  text-align: center;
  transition: .3s ease;
  cursor: pointer;
}
.main .exclusive .exclusive__btn:hover {
  background: transparent;
}
.main .exclusive .exclusive__btn a {
  color: #fff;
  font-weight: 900;
}
.main .portfolio {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .portfolio .portfolio__title {
  text-align: center;
}
.main .portfolio .portfolio__title h2 {
  font-size: 7.5em;
  font-weight: 900;
  line-height: 1.1em;
  color: #eeeeee;
}
.main .portfolio .portfolio__filter {
  position: relative;
}
.main .portfolio .portfolio__filter .portfolio__filter-nav {
  position: relative;
  text-align: center;
  top: -110px;
}
.main .portfolio .portfolio__filter .portfolio__filter-nav .portfolio__filter-tabs {
  margin-bottom: 55px;
}
.main .portfolio .portfolio__filter .portfolio__filter-nav .portfolio__filter-tabs a:hover,
.main .portfolio .portfolio__filter .portfolio__filter-nav .portfolio__filter-tabs a.active {
  border: 1px solid #dddddd;
  color: #23527c;
}
.main .portfolio .portfolio__filter .portfolio__filter-nav .portfolio__filter-tabs a {
  border: 1px solid transparent;
  color: #222;
  font-weight: 500;
  padding: 10px 30px;
  margin-right: 20px;
  margin-bottom: 15px;
  transition-duration: .5s;
  display: inline-block;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery {
  width: 100%;
  height: auto;
  position: relative;
  top: -100px;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item {
  width: auto;
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item img {
  width: 100%;
  transition: .5s ease;
  transform: scale(1.05);
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item:hover img {
  transform: scale(1);
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item:hover .overlay {
  opacity: 0.7;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item:hover .overlay .overlay-title {
  transform: translateY(0);
  opacity: 1;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item:hover .overlay .overlay-link a {
  transform: scale(1);
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0;
  transition: .5s ease;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-link {
  position: absolute;
  top: 40px;
  right: 40px;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-link a {
  transform-origin: 50% 0;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.452);
  margin-right: 5px;
  color: #fff;
  border: 1px solid #fff;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  width: 40px;
  text-align: center;
  transition: .4s ease;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-link a:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.808);
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-link a:last-child {
  margin-right: 0;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-title {
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translateY(10px);
  opacity: 0;
  transition: .4s ease;
  opacity: 1;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-title span {
  color: #fff;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-title h4 {
  text-transform: capitalize;
  font-size: 1.33rem;
  font-weight: 600;
}
.main .portfolio .portfolio__filter .portfolio__filter-gallery .photos-works .item .overlay .overlay-title h4 a {
  color: #fff;
}
.main .portfolio .portfolio__view-all {
  text-align: center;
  margin-top: -40px;
}
.main .portfolio .portfolio__view-all a {
  padding: 12px 45px;
  font-weight: 900;
  background: #222;
  color: #fff;
  font-size: 0.9rem;
  border: 2px solid #222;
  transition: .3s ease;
}
.main .portfolio .portfolio__view-all a:hover {
  background: transparent;
  color: #222;
}
.main .slider {
  position: relative;
  padding-bottom: 150px;
  width: 100%;
  height: auto;
}
.main .slider .slider-container__title {
  position: absolute;
  z-index: 99;
  right: 150px;
  top: 40px;
  text-align: center;
}
.main .slider .slider-container__title h2 {
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1.1em;
  color: #eeeeee;
}
.main .slider .slider-hidden {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .slider .slider-hidden .slider-content {
  position: relative;
  width: 3500px;
  height: auto;
  display: flex;
}
.main .slider .slider-hidden .slider-content .slide {
  position: relative;
  margin: 0 auto;
  width: 970px;
  height: 400px;
}
.main .slider .slider-hidden .slider-content .slide .slide__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
  z-index: 100;
}
.main .slider .slider-hidden .slider-content .slide .slide__avatar img {
  width: 100%;
}
.main .slider .slider-hidden .slider-content .slide .slide__comment {
  padding: 60px 30px 10px 30px;
  width: 80%;
  background: #ffffff;
  position: absolute;
  bottom: 3px;
  right: 0;
  z-index: 101;
  box-shadow: 2px 2px 2px #cecece;
}
.main .slider .slider-hidden .slider-content .slide .slide__comment .comment {
  color: #848484;
  line-height: 1.8em;
  font-weight: 400;
  margin-bottom: 40px;
}
.main .slider .slider-hidden .slider-content .slide .slide__comment .autor .autor__name {
  color: #222222;
  font-weight: 800;
  line-height: 1.6em;
}
.main .slider .slider-hidden .slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 102;
  background: transparent;
}
.main .slider .slider-hidden .slider-nav .slider-nav__prev,
.main .slider .slider-hidden .slider-nav .slider-nav__next {
  font-size: 1.2rem;
  color: #d1d1d1;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
}
.main .slider .slider-hidden .slider-nav .slider-nav__prev:hover,
.main .slider .slider-hidden .slider-nav .slider-nav__next:hover {
  color: #222;
}
.main .clients {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
}
.main .clients .clients-hidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .clients .clients-hidden .clients-content {
  height: 100%;
  width: 4000px;
  display: flex;
}
.main .clients .clients-hidden .clients-content .client {
  width: 200px;
  cursor: pointer;
}
.main .row-flex {
  align-items: flex-start;
}
.main .contact {
  width: 100%;
  height: 100%;
  background-image: url(../images/formbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main .contact .addres-box {
  width: 35%;
  color: #222;
}
.main .contact .addres-box .addres-box__title {
  margin-bottom: 30px;
}
.main .contact .addres-box .addres-box__title h2 {
  font-size: 1.77rem;
  font-weight: 800;
}
.main .contact .addres-box .addres-box__contact-info {
  color: #666;
}
.main .contact .addres-box .addres-box__contact-info .email {
  margin-bottom: 10px;
}
.main .contact .addres-box .addres-box__contact-info .email__title,
.main .contact .addres-box .addres-box__contact-info .phone__title {
  font-weight: 800;
  font-size: 0.9rem;
  margin-bottom: 6px;
}
.main .contact .contact__form {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main .contact .contact__form .form textarea {
  height: 100px;
}
.main .contact .contact__form .form input {
  height: 52px;
}
.main .contact .contact__form .form input,
.main .contact .contact__form .form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  padding: 6px 12px;
  font-size: .9rem;
  margin-bottom: 24px;
  transition: .3s ease;
}
.main .contact .contact__form .form input::placeholder,
.main .contact .contact__form .form textarea::placeholder {
  color: #999;
}
.main .contact .contact__form .form input:focus,
.main .contact .contact__form .form textarea:focus,
.main .contact .contact__form .form input:hover,
.main .contact .contact__form .form textarea:hover {
  border-bottom: 1px solid #222;
}
.main .contact .contact__form .form .form__btn {
  padding: 12px 25px;
  font-weight: 900;
  background: #222;
  color: #fff;
  font-size: 0.9rem;
  border: 2px solid #222;
  transition: .3s ease;
}
.main .contact .contact__form .form .form__btn:hover {
  background: transparent;
  color: #222;
}
/* End main Section */
/* Start Footer */
.row-flex {
  justify-content: space-between;
}
.footer {
  position: relative;
}
.footer .intro__scroll-up {
  top: 0;
}
.footer .intro__scroll-up a {
  color: #222;
}
.footer .logo-copyright .fas {
  color: #222;
}
.footer .main-info {
  text-align: right;
}
.footer .main-info .fab {
  color: #222;
  margin-left: 10px;
  transition: .3s ease;
}
.footer .main-info .fab:hover {
  color: #666;
}
/* End Footer */
