:root {
    
}

// converting px-to-rem
$body-fs: 16px;
$body-lh: 24px;
//font-size
$fs10: 10px !important;
$fs12: 12px !important;
$fs14: 14px !important;
$fs16: 16px !important;
$fs18: 18px !important;
$fs22: 22px !important;
$fs30: 30px !important;
$fs38: 38px !important;
$fs50: 50px !important;
$fs80: 80px !important;

//line-height
$lh14: 14px !important;
$lh17: 17px !important;
$lh21: 21px !important;
$lh24: 24px !important;
$lh27: 27px !important;
$lh30: 30px !important;
$lh31: 31px !important;
$lh40: 40px !important;
$lh50: 50px !important;
$lh62: 62px !important;
$lh100: 100px !important;

//colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$blue: rgb(0, 92, 254);
$gray:  rgb(196, 196, 196);
$red:  rgb(215,14,42);
$green: rgb(14, 215, 46);

$speech-tail-color: rgba(0, 0, 0, 0.2);
$speech-border-color: rgba(0, 0, 0, 0.07);


//font-family
$Regular: "pt-root-ui-regular", sans-serif;
$Medium: "pt-root-ui-medium", sans-serif;
$Bold: "pt-root-ui-bold", sans-serif;
$Light: "pt-root-ui-light", sans-serif;