
.panel {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 20px 15px;

    &__img {
        margin-bottom: 20px;
        text-align: center;

        &-full {
            margin-bottom: 20px;
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
            text-align: center;

            img {
                display: inline-block;
                max-width: 100%;
                height: auto;
            }
        }

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }
    }
}