h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $Bold !important;
    font-weight: bold;
}

h1,
.h1 {
    font-size: $fs38;
    line-height: $lh50;

    @media (max-width: 719px) {
        font-size: $fs30;
        line-height: $lh40;
    }
}

h2,
.h2 {
    font-size: $fs30;
    line-height: $lh40;

    @media (max-width: 719px) {
        font-size: $fs22;
        line-height: $lh30;
    }
}

h3,
.h3 {
    font-size: $fs22;
    line-height: $lh30;

    @media (max-width: 719px) {
        font-size: $fs18;
        line-height: $lh27;
    }
}

h4,
.h4 {
    font-size: $fs18;
    line-height: $lh27;

    @media (max-width: 719px) {
        font-size: $fs16;
        line-height: $lh24;
    }
}

h5,
.h5 {
    font-size: $fs16;
    line-height: $lh24;

    @media (max-width: 719px) {

        font-size: $fs14;
        line-height: $lh21;
    }
}

h6,
.h6 {
    font-size: $fs14;
    line-height: $lh21;

    @media (max-width: 719px) {

        font-size: $fs12;
        line-height: $lh17;
    }
}

.h7 {
    font-size: $fs12;
    line-height: $lh17;
    font-family: $Regular !important;
    font-weight: normal;
}

.h8 {
    font-size: $fs12;
    line-height: $lh17;
    text-transform: uppercase;
    font-weight: 500;
}